/* Full-width slider nav */
@media only screen and (max-width: 1150px) {
	.wide #slider-container.fullwidth #slider-prev { left: 32px; }
	.wide #slider-container.fullwidth #slider-next { right: 32px; }
}

/* iPad Landscape hack */
@media only screen and (max-width: 1024px) {
	#container { width: 100%!important; overflow: hidden; }
	#slider-container.fullwidth { overflow: hidden!important; }	

	.ipad #slider-container #slider-prev, .ipad #slider-container #slider-next, .ipad .slider-container .slider-prev, .ipad .slider-container .slider-next, .ipad .ls-vanguard .ls-nav-prev, .ipad .ls-vanguard .ls-nav-next {	display: none!important; }
	.iphone #slider-container #slider-prev, .iphone #slider-container #slider-next, .iphone .slider-container .slider-prev, .iphone .slider-container .slider-next, .iphone .ls-vanguard .ls-nav-prev, .iphone .ls-vanguard .ls-nav-next {	display: none!important; }
	.android #slider-container #slider-prev, .android #slider-container #slider-next, .android .slider-container .slider-prev, .android .slider-container .slider-next, .android .ls-vanguard .ls-nav-prev, .android .ls-vanguard .ls-nav-next {	display: none!important; }
}

/* Table Portrait Size and smaller than standard theme width 1020 (devices and browser) */
@media only screen and (max-width: 1023px) {

	#container img { max-width: 100%; height: auto; }
	.ls-layer img { max-width: none!important; }

	/* Structure containers */
	#container { width: 100%!important; overflow: hidden; }
	#superior-header, #header, #sub-header, #content, #footer-widgets, #footer { width: 94%; padding-left: 3%; padding-right: 3%; }
	#header #logo { margin-left: 0; }
	#primary { width: 73.854166667%; margin-right: -0.2%; padding: 4.1666666667% 4.1666666667% 4.1666666667% 0; }
	#secondary { width: 21.875%; }
	.left-sidebar #primary { float: right; margin-left: -0.2%; padding: 4.1666666667% 0 4.1666666667% 4.1666666667%; }
	.footer-column { width: 21.770833333%; padding: 30px 2%; }
	#footer-column-1 { width: 21.875%; }
	.footer-column .widget { margin: 0 -9.5%; padding: 7% 10%; }

	/* Sub-header bar (Solid bg) */
	#sub-header-container.solid-bg { overflow: hidden; }
	#sub-header-container.solid-bg #sub-header { margin-bottom: 29px; }
	#sub-header-container.solid-bg #breadcrumbs { position: absolute; bottom: -30px; right: 3%; }
	/* Transparent bg */
	#sub-header-container.transparent-bg { overflow: hidden; width: 94%; padding-left: 3%; padding-right: 3%; }
	#sub-header-container.transparent-bg #sub-header { padding-left: 0; padding-right: 0; margin-bottom: 27px; width: 100%; }
	#sub-header-container.transparent-bg #breadcrumbs { position: absolute; bottom: -28px; right: 0; }

	/* Sub-header Slider */	
	#slider-container { width: 94%!important; padding-left: 3%; padding-right: 3%; }
	#slider-container #slider { width: 100%!important; }	
	#slider-container #slider li { width: 100%!important; height: auto!important; }
	#slider-container.fullwidth { width: 100%!important; padding-left: 0!important; padding-right: 0!important; }
	#slider-container.fullwidth #slider { left: -44.117647059%; width: 100%; }
	#slider-container.fullwidth #slider li { width: 188.23529412%!important; height: 100%!important; }
	/* Video */
	#slider-container #slider li .slider-video { width: 100%!important; height: auto; position: relative; }
	#slider-container.fullwidth #slider .slider-video { width: 53.125%!important; }
	/* Image */
	#slider-container #slider li .slider-image { position: relative; }
	#slider-container #slider li .slider-image img { width: 100%; height: auto; display: block; }
	#slider-container.fullwidth #slider .slider-image { height: 100%; }
	#slider-container.fullwidth #slider li .slider-image img { width: auto; height: 100%; display: inline; }
	/* Description */
	#slider-container.fullwidth #slider .slider-description h2 { margin-left: -25%; }
	/* Navigation */
	#slider-container #slider-prev { left: 3%!important; }
	#slider-container #slider-next { right: 3%!important; }
	#slider-container.fullwidth #slider-prev { left: 0!important; }
	#slider-container.fullwidth #slider-next { right: 0!important; }

	/* Sub-header LayerSlider */
	#layer-slider-container.normal { width: 94%!important; padding-left: 3%; padding-right: 3%; }
	#layer-slider { width: 100%!important; }

	/* Sub-header Full-width LayerSlider */
	#layer-slider-container.fullwidth { width: 100%!important; padding-left: 0!important; padding-right: 0!important; }	
	#layer-slider-container.fullwidth #layer-slider { left: -44.117647059%; width: 100%!important; }
	#layer-slider-container.fullwidth #layer-slider .ls-container { width: 188.23529412%!important; }

	/* Blog */
	.post-meta span { margin-right: 15px; }
	.post div.hr, .blog-wide-image .type-page div.hr, .blog-half-image .type-page div.hr { margin-right: -5.65%; }

	/* Blog (wide image) */
	.blog-wide-image .post-title { font-size: 40px; line-height: 34px; }
	.blog-wide-image .post-meta { padding-left: 0; }

	/* Blog (half image) */
	.blog-half-image .post-image,
	.blog-half-image .post-video,
	.blog-half-image .post-slider { width: 45.33333333%; margin-right: 4%; }
	.blog-half-image .bar { margin-left: 49.33333333%; }

	/* Blog detail page */
	.blog-detail .post-title { font-size: 40px; line-height: 34px; }
	.blog-detail .post-meta { padding-left: 0; }	

	/* Author Info */
	#author-info-wrapper h3 { margin-right: -5.65%; }

	/* Related Posts */
	.blog-detail .related-posts h3 { margin-right: -5.65%; }
	.blog-detail .related-posts ul { width: 100%; }
	.blog-detail .related-posts li { width: 30%; margin-left: 5%; }

	/* Comments */
	#comments { margin-right: -5.65%; }

	/* Comment Reply Form */
	#commentform .form-section textarea { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 95%!important; }
	.full-width #commentform .form-section textarea { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%!important; }

	/* Portfolio Lists */
	.portfolio-item img { display: block; }
	/* Portfolio 1 Column */
	.portfolio-1-columns-list { margin: 4.1666666667% 0 -4.1666666667% 0; padding-bottom: 4.1666666667%; }
	.portfolio-1-columns-list li { width: 100%; }
	.portfolio-1-columns-list .portfolio-image { width: 50%; }
	.portfolio-1-columns-list .portfolio-info { margin-left: 53.125%; }
	.portfolio-1-columns-list .portfolio-title { font-size: 22px; line-height: 22px; margin-bottom: 14px; }
	/* Portfolio 2 Columns */
	.portfolio-2-columns-list { margin: 4.1666666667% 0 -2.08333333333% -2.08333333333%; padding-bottom: 4.1666666667%; }
	.portfolio-2-columns-list li { width: 48%; margin: 0 0 2% 2%; }
	.portfolio-2-columns-list .portfolio-info { padding: 4%; }
	.portfolio-2-columns-list .portfolio-title { font-size: 18px; line-height: 28px; }
	/* Portfolio 2 Columns without Gutter */
	.portfolio-2-columns-list-no-gutter { margin-top: 4.1666666667%; padding: 0 0 4.1666666667%; }
	.portfolio-2-columns-list-no-gutter li { width: 50%; }
	.portfolio-2-columns-list-no-gutter .portfolio-info { padding: 4%; width: 92%; }
	.portfolio-2-columns-list-no-gutter .portfolio-title { font-size: 18px; line-height: 28px; }
	/* Portfolio 3 Columns */
	.portfolio-3-columns-list { margin: 4.1666666667% 0 -3.125% -3.125%; padding-bottom: 4.1666666667%; }
	.portfolio-3-columns-list li { width: 30.33%; margin: 0 0 3% 3%; }
	.portfolio-3-columns-list .portfolio-info { padding: 5%; }
	.portfolio-3-columns-list .portfolio-title { font-size: 16px; line-height: 26px; }
	/* Portfolio 3 Columns without Gutter */
	.portfolio-3-columns-list-no-gutter { margin-top: 4.1666666667%; padding: 0 0 4.1666666667%; }
	.portfolio-3-columns-list-no-gutter li { width: 33.3333333333%; }
	.portfolio-3-columns-list-no-gutter .portfolio-info { padding: 4%; width: 92%; }
	/* Portfolio 4 Columns */
	.portfolio-4-columns-list { margin: 4.1666666667% 0 -2.08333333333% -2.08333333333%; padding-bottom: 4.1666666667%; }
	.portfolio-4-columns-list li { width: 22.9%; margin: 0 0 2.1% 2.1%; }
	.portfolio-4-columns-list .portfolio-info { padding: 5%; }
	/* Portfolio 4 Columns without Gutter */
	.portfolio-4-columns-list-no-gutter { margin-top: 4.1666666667%; padding: 0 0 4.1666666667%; }
	.portfolio-4-columns-list-no-gutter li { width: 25%; }
	.portfolio-4-columns-list-no-gutter .portfolio-info { padding: 4%; width: 92%; }

	/* Single post navigation */
	#single-nav-prev { width: 50%; margin-right: -0.18%; }
	#single-nav-next { width: 49.895833333%; }
	#single-nav-below { margin-right: 0; }
	#single-nav-below-title { margin-right: -5.65%; }
	#single-nav-below-prev { width: 50%; margin-right: -0.5%; }
	#single-nav-below-next { width: 49.895833333%; }
	.portfolio-detail-page #single-nav-below-prev { width: 50%; margin-right: -0.5%; }
	.portfolio-detail-page #single-nav-below-next { width: 49.895833333%; }

	/* Contact Page */
	#contact-form input { width: 50%; }
	#contact-form textarea { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; }

	/* Search Widget */
	input.search { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%!important; }

	/* Contact Form Widget */
	.widget-contact-form #contact-form input, .widget-contact-form #contact-form textarea { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; }

	/* Recent and Popular Posts Shortcode */
	.widget-posts-off-sidebar { margin-left: -4.1666666667%; }
	.widget-posts-off-sidebar li { width: 20.83%; margin: 0 0 4.1666666667% 4.1666666667%; }

	/* Flickr Widget */
	.widget-flickr li { width: 33.33%; }

	/* Social buttons Widget */
	#secondary .widget-social-container ul { margin-left: -2%; }
	#secondary .widget-social-container ul li { margin-left: 2%; margin-bottom: 2%; width: 18%; }

	/* Call to action */
	.call-to-action-big h2 { font-size: 50px; line-height: 50px; }
	.call-to-action-big p.excerpt { font-size: 20px; line-height: 24px; }

	/* Big Title */
	.big-title h2 { font-size: 50px; line-height: 50px; margin-left: -4px; }
	.big-title p.sub-title { font-size: 20px; line-height: 24px; }

	/* Wide bar shortcode */
	.wide-bar { width: 100%!important; margin-left: -3%!important; padding-left: 3%!important; padding-right: 3%!important; }

	/* Maps */
	.gmap { width: 100%!important; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

	/* superior header container */
	#superior-header-container { height: auto!important; }

	/* Change header menu */
	#header { height: 175px; overflow: hidden; padding: 0!important; }
	#menu-bg { top: 65px; right: auto!important; padding-left: 0!important; }	
	#header, #menu-bg { width: 100%!important; }	
	#header #logo { margin: 2%; display: block; float: none; text-align: center; line-height: 110px; }
	#header #logo img { max-height: 110px; }
	#menu-bg { border: 0; }	
	#menu-bg .mobile-menu { display: inline; margin: 66px 20% 0 20%; width: 60%; padding: 5px; }
	#menu-bg .menu { display: none; }

	/* Structure containers */
	#primary, #secondary { float: none!important; width: 100%!important; margin-left: 0!important; margin-right: 0!important; border: 0!important; }
	#secondary { padding-top: 40px; }
	#secondary .widget { padding-left: 0; }
	.left-sidebar #primary { padding-left: 0; }
	.left-sidebar #secondary { padding-top: 0; }
	#footer-widgets { width: 94%; padding-left: 3%; padding-right: 3%; padding-top: 30px; }
	.footer-column { width: 100%; padding: 0; margin: 0; height: auto!important; border-left: 0; }
	#footer-column-1 { width: 100%; }
	.footer-column .widget { margin: 0 0 30px; padding: 0; border-top: 0; }
	#footer { width: 94%; padding: 10px 3%; overflow: auto; height: auto; text-align: center; line-height: 21px; }
	#footer-left .widget, #footer-right .widget { float: none; margin: 10px 0; }

	/* Sub-header bar */
	#sub-header h1 { font-size: 20px; line-height: 20px; }
	#sub-header-container.image-bg h1 { padding: 11px 14px 12px; }

	/* Sub-header Slider */
	#slider .slider-description h2 { font-size: 20px; padding: 11px 14px 12px; }

	/* Blog */
	.post-meta span { margin-right: 10px; }
	.post div.hr, .blog-wide-image .type-page div.hr, .blog-half-image .type-page div.hr { margin-right: 0; }

	/* Blog (wide image) */
	.blog-wide-image .post-title { font-size: 30px; line-height: 26px; }

	/* Blog (half image) */
	.blog-half-image .post-title { margin: 10px 0 10px 0; font-size: 20px; line-height: 20px; }

	/* Blog detail page */
	.blog-detail .post-title { font-size: 30px; line-height: 26px; }

	/* Comments */
	.comment-content { padding-left: 0; }
	.comment-list .children { margin-left: 40px; }	

	/* Comment Reply Form */
	#commentform .form-section input { width: 150px; }
	#commentform .form-section textarea { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 94%!important; }

	/* Portfolio Lists */	
	.portfolio-item img { width: 100%; }
	.portfolio-browse { padding: 0 10px; }
	#portfolio-filter-container .portfolio-filters li { padding-left: 15px; }

	/* Portfolio 1 Column */
	.portfolio-1-columns-list .portfolio-title { font-size: 20px; line-height: 20px; display: block; margin: 10px 0 10px 0; }
	/* Portfolio 2 Columns */
	.portfolio-2-columns-list .portfolio-title { font-size: 16px; line-height: 26px; }
	/* Portfolio 2 Columns without Gutter */
	.portfolio-2-columns-list-no-gutter .portfolio-title { font-size: 16px; line-height: 26px; }
	/* Portfolio 3 Columns */
	.portfolio-3-columns-list .portfolio-title { font-size: 14px; line-height: 24px; }
	/* Portfolio 3 Columns without Gutter */
	.portfolio-3-columns-list-no-gutter .portfolio-title { font-size: 14px; line-height: 24px; }
	/* Portfolio 4 Columns */
	.portfolio-4-columns-list .portfolio-title { font-size: 12px; line-height: 22px; }
	/* Portfolio 4 Columns without Gutter */
	.portfolio-4-columns-list-no-gutter .portfolio-title { font-size: 12px; line-height: 22px; }

	/* Single post navigation */
	#single-nav a { margin-top: 6px; line-height: 18px; }
	#single-nav-prev { margin-right: -0.35%; }

	/* Recent and Popular Posts widget and shortcode */
	.widget-posts li img, .widget-posts-off-sidebar li img { width: 100%; }

	/* Recent and Popular Posts Shortcode */
	.widget-posts-off-sidebar li { width: 45.83%; }

	/* Social buttons Widget */
	#secondary .widget-social-container ul { margin-left: -3%; }
	#secondary .widget-social-container ul li { margin-left: 3%; margin-bottom: 3%; width: auto; }

	/* Call to action */
	.call-to-action-big h2 { font-size: 40px; line-height: 40px; }
	.call-to-action-big p.excerpt { font-size: 18px; line-height: 24px; }

	.call-to-action-bar h3,
	.call-to-action-bar span { margin-right: 0; text-align: center; }
	.call-to-action-bar span { margin-bottom: 0; }
	.call-to-action-bar .custom-button { position: relative; right: 0; bottom: 0; margin-top: 20px; text-align: center; margin-left: auto; margin-right: auto; display: block; }

	/* Big Title */
	.big-title h2 { font-size: 40px; line-height: 40px; }

	/* Tabs */
	ul.tabs { height: 32px; }
	ul.tabs li { height: 32px; line-height: 32px; }
	ul.tabs li a { padding: 0 12px; }

	/* Lightbox */
	.pp_pic_holder.pp_default { width: 100%!important; left: 0!important; overflow: hidden; }
	div.pp_default .pp_content_container .pp_left { padding-left: 0!important; }
	div.pp_default .pp_content_container .pp_right { padding-right: 0!important; }
	.pp_content { width: 100%!important; height: auto!important; }
	.pp_fade { width: 100%!important; height: 100%!important; }
	a.pp_expand, a.pp_contract, .pp_hoverContainer, .pp_gallery, .pp_top, .pp_bottom { display: none!important; }
	#pp_full_res img { width: 100%!important; height: auto!important; }
	.pp_details { width: 94%!important; padding-left: 3%; padding-right: 4%; padding-top: 10px; padding-bottom: 10px; background-color: #fff; margin-top: -2px!important; }
	a.pp_close { right: 10px!important; top: 10px!important; }
}

/* Mobile Portrait Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	
	/* Full page image background */
	#full-bg { min-width: 0; min-height: 0; }

	/* Sub-header bar */
	#sub-header h1 { font-size: 16px; line-height: 16px; }
	#sub-header-container.image-bg h1 { padding: 8px 11px 9px; }
	/* Sub-header bar (Solid bg) */
	#sub-header-container.solid-bg #breadcrumbs { position: relative!important; bottom: 0!important; padding: 5px; margin-top: 6px!important; float: left; margin-left: 3%; }
	/* Transparent bg */
	#sub-header-container.transparent-bg #breadcrumbs { position: relative!important; bottom: 0!important; padding: 5px; margin-top: 4px; }

	/* Blog (wide image) */
	.blog-wide-image .bar { margin: 15px 0 0 15px; }
	.blog-wide-image .post-title { margin: 10px 15px 15px 15px; font-size: 20px; line-height: 20px; }

	/* Blog detail page */
	.blog-detail .post-title { font-size: 20px; line-height: 20px; }

	/* Related Posts */
	.blog-detail .related-posts h3 { width: auto; float: none; text-align: left; margin-right: 0; }
	.blog-detail .related-posts ul { width: auto!important; }
	.blog-detail .related-posts li { width: 100%; margin: 30px 0 0 0!important; }
	.blog-detail .related-posts li:first-child { margin-top: 0!important; }
	.blog-detail .related-posts li img { width: 100%; }

	/* Comment Reply Form */
	#commentform .form-section input { width: 100px; }

	/* Portfolio Lists */
	#portfolio-filter-container .portfolio-filters li { padding-left: 10px; }

	/* Portfolio 1 Column */
	.portfolio-1-columns-list .portfolio-image { float: none; clear: both; width: 100%; }
	.portfolio-1-columns-list .bar { margin-top: 20px; }
	.portfolio-1-columns-list .portfolio-info { margin: 0; }
	/* Portfolio 3 and 4 Columns */
	.portfolio-3-columns-list, .portfolio-4-columns-list { margin: 4.1666666667% 0 -2.08333333333% -2.08333333333%; padding-bottom: 4.1666666667%; }
	.portfolio-3-columns-list li, .portfolio-4-columns-list li { width: 48%; margin: 0 0 2% 2%; }
	.portfolio-3-columns-list .portfolio-info, .portfolio-4-columns-list .portfolio-info { padding: 4%; }
	.portfolio-3-columns-list .portfolio-title, .portfolio-4-columns-list .portfolio-title { font-size: 12px; line-height: 24px; }
	/* Portfolio 3 and 4 Columns without Gutter */
	.portfolio-3-columns-list-no-gutter, .portfolio-4-columns-list-no-gutter { margin-top: 4.1666666667%; padding: 0 0 4.1666666667%; }
	.portfolio-3-columns-list-no-gutter li, .portfolio-4-columns-list-no-gutter li { width: 50%; }
	.portfolio-3-columns-list-no-gutter .portfolio-info, .portfolio-4-columns-list-no-gutter .portfolio-info { padding: 4%; width: 92%; }
	.portfolio-3-columns-list-no-gutter .portfolio-title, .portfolio-4-columns-list-no-gutter .portfolio-title { font-size: 12px; line-height: 24px; }

	/* Sharing buttons */
	.post-share-buttons { width: 100%; float: none; clear: both; margin: 0 0 20px; }
	.post-share-buttons .addthis_toolbox { width: 94%; padding: 12px 3% 0px 3%; height: auto; }

	/* Single post navigation */
	#single-nav-prev { margin-right: -0.55%; }

	/* Recent and Popular Posts widget and shortcode */
	.widget-posts li img, .widget-posts-off-sidebar li img { width: 100%; }

	/* Recent and Popular Posts Shortcode */
	.widget-posts-off-sidebar { margin-left: 0; }
	.widget-posts-off-sidebar li { width: 100%; margin: 0 0 40px 0; }

	/* Columns Layouts */
	.one-half, .one-third, .two-third, .one-fourth, .three-fourth, .one-fifth, .two-fifth, .three-fifth, .four-fifth, .one-sixth, .five-sixth { width: 100%; float: none; clear: both; margin: 0; }	

	/* Call to action */
	.call-to-action-big h2 { font-size: 35px; line-height: 35px; }
	.call-to-action-small h2 { font-size: 30px; line-height: 30px; }

	.call-to-action-bar .custom-button { max-width: 100%; }

	/* Big Title */
	.big-title h2 { font-size: 35px; line-height: 35px; margin-left: -1px; }

	/* Tabs */
	ul.tabs { height: 26px; }
	ul.tabs li { height: 26px; line-height: 26px; }
	ul.tabs li a { padding: 0 8px; }

	/* Pricing Table */
	.price-column { width: 100%!important; -moz-border-radius: 2px!important; -webkit-border-radius: 2px!important; border-radius: 2px!important; }
	.price-column h4 { -moz-border-radius: 2px 2px 0 0!important; -webkit-border-radius: 2px 2px 0 0!important; border-radius: 2px 2px 0 0!important; }

	/* [gallery] */	
	.gallery-item { width: 33.33%!important; }

	/* Tables */
	th, td { padding: 6px; font-size: 10px; line-height: 14px; }
	td code { padding: 1px; font-size: 10px; line-height: 14px; }
}