/* Headings */
h1, h2, h3, h4, h5, h6 { padding: 0; margin: 0 0 20px 0; }
h1 { font-size: 30px; line-height: 42px; }
h2 { font-size: 24px; line-height: 36px; }
h3 { font-size: 18px; line-height: 30px; font-weight: 400; }
h4 { font-size: 14px; line-height: 26px; margin-bottom: 9px; }
h5 { font-size: 12px; line-height: 18px; margin-bottom: 2px; }
h6 { font-size: 11px; line-height: 18px; text-transform: uppercase; margin-bottom: 2px; }

/* Links */
a { -webkit-transition: background-color 0.1s linear, color 0.1s linear; -moz-transition: background-color 0.1s linear, color 0.1s linear; -o-transition: background-color 0.1s linear, color 0.1s linear; -ms-transition: background-color 0.1s linear, color 0.1s linear; transition: background-color 0.1s linear, color 0.1s linear; }

/* Full page image background */
#full-bg-wrapper { position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; }
#full-bg { position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; min-width: 50%; min-height: 50%; }
.full-bg-width { width: 50%; }
.full-bg-height { height: 50%; }

/* The container */
#container { margin: 0 auto; position: relative; }
.narrow #container { width: 1024px; }
.wide #container { overflow: hidden; }

/* The superior-header bar */
#superior-header-container { position: relative; z-index: 90; }
#superior-header { margin: 0 auto; width: 960px; padding: 0 32px; line-height: 30px; overflow: hidden; font-size: 14px; }
#superior-header .widget li { line-height: 30px; overflow: hidden; font-size: 14px; }
#superior-header-left a:hover { text-decoration: underline; }
#superior-header-right { margin-right: -32px; }
#superior-header .bar { display: none; }

/* The header  */
#header { width: 960px; padding: 0 32px; margin: 0 auto; position: relative; z-index: 90; }

/* The logo  */
#logo { float: left; margin: 0; padding: 0; font-size: 26px; font-weight: bold; z-index: 91; }

/* Header menu */
#menu-bg { height: 21px; z-index: -1; position: absolute; right: 32px; height: 28px; }
.menu { float: right; }
.nav { margin: 0; padding: 0; }
.nav, .nav * { list-style: none; }
.nav li { float: left; padding: 0; position: relative; }
.nav > li { padding: 0; }
.nav ul li { width: 100%; }

.nav > li { margin: 0; padding: 0 0 0 33px; }
.nav > li:first-child { padding: 0; }

.nav > li > a { display: block; position: relative; margin: 0; padding: 0; line-height: 25px; }
.nav > li > a:hover { text-decoration: none; }

/* Hides items under top menu */
.nav ul { position: absolute; top: -9999em; width: 20em; /* left offset of submenus need to match (see below) */ margin-top: 0; padding: 0; }

/* Shows submenus */
.nav li:hover ul,
.nav li.nav-hover ul { left: 33px; top: 29px; /* match top ul list item height */ z-index: 92; }
.nav > li:first-child > a + ul { left: 0; }

/* Hides all sub items (4 levels deep) */
.nav li:hover li ul,
.nav li.nav-hover li ul,
.nav li li:hover li ul,
.nav li li.nav-hover li ul,
.nav li li li:hover li ul,
.nav li li li.nav-hover li ul { top: -999em; }

/* On :hover, displays all sub items (4 levels deep) */
.nav li li:hover ul,
.nav li li.nav-hover ul,
.nav li li li:hover ul,
.nav li li li.nav-hover ul,
.nav li li li li:hover ul,
.nav li li li li.nav-hover ul { left: 20em; /* match .nav ul width */ top: -1px; margin: 0; }

/* Default Skin for the Menu */
.nav ul li { padding: 0; }
.nav ul a { font-weight: normal; font-size: 12px; padding: 8px 13px!important; letter-spacing: 0; display: block; line-height: 21px; }
.nav ul a:hover { text-decoration: none; }

/* Menu bugfix */
.msie-7 .nav:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }

/* Hide mobile menu by default */
#menu-bg .mobile-menu { display: none; }

/* Sub-header Slider */
#slider-container { position: relative; width: 960px; margin: 0 auto; }
.narrow #slider-container { width: 1024px; }
#slider { margin: 0 auto; padding: 0; list-style-type: none; position: relative; width: 960px; }
.msie-7 #slider { overflow: hidden; }
#slider li { display: none; padding: 0; width: 960px!important; }
#no-slider-items { margin: 0 auto; padding: 20px 30px; width: 964px; }
#no-slider-items strong { font-size: 16px; }
/* Video */
#slider .slider-video { position: relative; width: 100%; height: 100%; overflow: hidden; }
/* Image */
#slider li.with-description .slider-image { position: absolute; top: 0; right: 0; }
/* Description */
#slider li .slider-description .description,
#slider li.has-video .slider-description { display: none; }
/* Title */
#slider .slider-description h2 { font-size: 26px; line-height: 21px; margin: 0; padding: 16px 20px 17px; position: absolute; left: 30px; bottom: 36px; }
#slider .slider-description .bar { position: absolute; left: 0; top: -7px; }
/* Navigation */
#slider-container #slider-prev,
#slider-container #slider-next { width: 63px; height: 63px; z-index: 89; position: absolute; top: 50%; margin-top: -30px; cursor: pointer; display: none; }
#slider-container #slider-prev { left: 0; -moz-border-radius: 0 2px 2px 0; -webkit-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0; }
#slider-container #slider-next { right: 0; -moz-border-radius: 2px 0 0 2px; -webkit-border-radius: 2px 0 0 2px; border-radius: 2px 0 0 2px; }
.narrow #slider-container #slider-prev { left: 32px; }
.narrow #slider-container #slider-next { right: 32px; }

/* Sub-header Fullwidth Slider */
#slider-container.fullwidth { width: 960px; margin: 0 auto; padding: 0 32px; }
.narrow #slider-container.fullwidth { overflow: hidden; padding-bottom: 7px; }
#slider-container.fullwidth #slider { width: 1920px; margin: 0; padding: 0; list-style-type: none; position: relative; left: -480px; }
#slider-container.fullwidth #slider li { width: 1920px!important; text-align: center; }
/* Video */
#slider-container.fullwidth #slider .slider-video img { position: relative; }
#slider-container.fullwidth #slider .slider-video { position: relative; margin: 0 auto; width: 960px; }
/* Image */
#slider-container.fullwidth #slider .slider-image { position: relative; }
/* Description */
#slider-container.fullwidth #slider li .slider-description .description,
#slider-container.fullwidth #slider li.has-video .slider-description { display: none; }
#slider-container.fullwidth #slider li .slider-description { width: 1px; height: 1px; }
#slider-container.fullwidth.video #slider .slider-description { display: none; }
/* Title */
#slider-container.fullwidth #slider .slider-description h2 { left: 50%; margin-left: -480px; }
/* Navigation */
#slider-container.fullwidth #slider-prev,
#slider-container.fullwidth #slider-next { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
#slider-container.fullwidth #slider-prev { left: 32px; }
#slider-container.fullwidth #slider-next { right: 32px; }
.wide #slider-container.fullwidth #slider-prev { left: -63px; }
.wide #slider-container.fullwidth #slider-next { right: -63px; }

/* Slider no javascript fallback */
.no-js #slider li { display: block; position: absolute; }
.no-js #slider li.has-video { display: none; }

/* Sub-header Normal LayerSlider */
#layer-slider-container.normal { position: relative; width: 960px; margin: 0 auto; }
.narrow #layer-slider-container.normal { width: 1024px; }
#layer-slider { margin: 0 auto; padding: 0; list-style-type: none; position: relative; width: 960px; }

/* Sub-header Full-width LayerSlider */
#layer-slider-container.fullwidth { width: 960px; margin: 0 auto; }
.narrow #layer-slider-container.fullwidth { padding: 0 32px; overflow: hidden; }
#layer-slider-container.fullwidth #layer-slider { width: 1920px; margin: 0; padding: 0; list-style-type: none; position: relative; left: -480px; }

/* Content */
#content { width: 960px; margin: 0 auto; }

/* Sub-header Bar (Transparent bg) */
#sub-header { width: 960px; padding: 0; margin: 0 auto; position: relative; padding-bottom: 3px; }
#sub-header h1 { font-size: 30px; line-height: 26px; letter-spacing: -1px; margin: 12px 0 0 0; }
#sub-header-container.transparent-bg.no-description h1 { margin-bottom: 6px; }
#sub-header small { display: block; font-size: 16px; margin: 1px 0 0 0; line-height: 26px; }
#sub-header #breadcrumbs { font-size: 11px; line-height: 16px; font-weight: bold; padding: 6px 20px; float: right; margin-top: -24px; }
#sub-header #breadcrumbs a:hover { text-decoration: none; }
/* Solid bg */
#sub-header-container.solid-bg #breadcrumbs { margin-top: -25px!important; }
#sub-header-container.solid-bg.no-description h1 { margin-bottom: 21px; margin-top: 14px; }
/* Image bg */
#sub-header-container.image-bg #sub-header { border: 0; padding: 0; }
#sub-header-container.image-bg #breadcrumbs { margin-top: 0; position: absolute; right: -32px; bottom: -27px; padding: 6px 32px 5px; }
#sub-header-container.image-bg .bar { position: absolute; top: 50%; margin-top: -32px; }
#sub-header-container.image-bg h1 { line-height: 23px; margin: 0; padding: 16px 20px 17px; display: inline-block; position: absolute; top: 50%; margin-top: -25px; }
#sub-header-container.image-bg small { margin: 0; position: absolute; bottom: -27px; font-size: 11px; }

/* Right Sidebar */
#primary { width: 709px; float: left; margin: 0 -1px 0 0; padding: 40px 40px 40px 0; }
#secondary { width: 210px; float: right; margin: 0; padding: 40px 0 0 0; }

/* Left Sidebar */
.left-sidebar #primary { float: right; margin: 0 0 0 -1px; padding: 40px 0 40px 40px; }
.left-sidebar #secondary { float: left; }

/* Full-width page */
.full-width { padding: 40px 0; }

/* Blog (shared styles) */
.post, .sticky { position: relative; }
.post-image { position: relative; overflow: hidden; }
.post-image a img { display: block; }
.post-meta { font-size: 11px; line-height: 29px; }
.post-meta span { margin-right: 25px; }
.post-meta a { font-weight: bold; }
.post-meta a:hover { text-decoration: none; }
.post div.hr, .blog-wide-image .type-page div.hr, .blog-half-image .type-page div.hr { margin-right: -40px; }
.post .more-link { margin-right: 10px; }

/* Blog (wide image) */
.blog-wide-image .post-media-wrapper { margin-bottom: 40px; position: relative; }
.blog-wide-image .post-title-meta-wrapper { position: absolute; bottom: 0; left: 0; right: 0; }
.blog-wide-image .bar { margin: 40px 0 0 40px; }
.blog-wide-image .post-title { margin: 15px 36px 40px 36px; font-size: 45px; line-height: 39px; }
.blog-wide-image .post-title a:hover { text-decoration: none; }
.blog-wide-image .post-meta { margin: 0; display: inline; padding: 6px 0 7px 40px; }
.blog-wide-image .more-link-wrapper { margin-top: 22px; }
/* No image */
.blog-wide-image .no-image.post-media-wrapper { margin-bottom: 23px; }
.blog-wide-image .no-image .post-image,
.blog-wide-image .no-image .post-video,
.blog-wide-image .no-image .post-slider { margin-bottom: 30px; }
.blog-wide-image .no-image .post-title-meta-wrapper { position: relative; bottom: 0; left: 0; right: 0; }
.blog-wide-image .no-image .bar { margin: 0; }
.blog-wide-image .no-image .post-title { margin: 15px 36px 7px -4px; }
.blog-wide-image .no-image .post-meta { padding-left: 0; }

/* Blog (half image) */
.blog-half-image .post-image,
.blog-half-image .post-video,
.blog-half-image .post-slider { float: left; width: 340px; margin-bottom: 10px; margin-right: 30px; }
.blog-half-image .bar { margin-left: 370px; }
.blog-half-image .bar.no-image { margin-left: 0; }
.blog-half-image .post-title { margin: 16px 0 22px 0; font-size: 26px; line-height: 26px; }
.blog-half-image .post-title a:hover { text-decoration: none; }
.blog-half-image .post-meta { line-height: 18px; margin-bottom: 16px; }
.blog-half-image div.hr { clear: both; }
.blog-half-image .more-link-wrapper { clear: both; padding-top: 20px; margin-top: -10px; }

/* Blog detail page */
.blog-detail .post-media-wrapper { margin-bottom: 40px; position: relative; }
.blog-detail .post-image img { display: block; }
.blog-detail .post-title-meta-wrapper { position: absolute; bottom: 0; left: 0; right: 0; }
.blog-detail .bar { margin: 40px 0 0 40px; }
.blog-detail .post-title { margin: 15px 36px 40px 36px; font-size: 45px; line-height: 39px; }
.blog-detail .post-title a:hover { text-decoration: none; }
.blog-detail .post-meta { margin: 0; display: inline; padding: 6px 0 7px 40px; }
/* No image */
.blog-detail .no-image.post-media-wrapper { margin-bottom: 23px; }
.blog-detail .no-image .post-image,
.blog-detail .no-image .post-video,
.blog-detail .no-image .post-slider { margin-bottom: 30px; }
.blog-detail .no-image .post-title-meta-wrapper { position: relative; bottom: 0; left: 0; right: 0; }
.blog-detail .no-image .bar { margin: 0; }
.blog-detail .no-image .post-title { margin: 15px 36px 7px -4px; }
.blog-detail .no-image .post-meta { padding-left: 0; }

/* Author Info */
#author-info-wrapper { margin-top: 32px; }
#author-info-wrapper h3 { margin: 0 -40px 32px 0; font-size: 11px; line-height: 11px; font-weight: bold; text-transform: uppercase; padding: 18px 20px; }
#author-info-wrapper #author-info { float: left; }
#author-info-wrapper #author-info .avatar { position: relative; top: 0px; left: 0; margin-top: 8px; float: left; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; }
#author-info-wrapper #author-description { margin-left: 90px; }
/* Related Posts */
.blog-detail .related-posts { margin-top: 32px; }
.blog-detail .related-posts h3 { margin: 0 -40px 40px 0; font-size: 11px; line-height: 11px; font-weight: bold; text-transform: uppercase; padding: 18px 20px; }
.blog-detail .related-posts ul { list-style-type: none; width: 710px; overflow: hidden; padding: 0; margin: 0; }
.blog-detail .related-posts li { width: 210px; float: left; margin-left: 40px; }
.blog-detail .related-posts li:first-child { margin-left: 0; }
.blog-detail .related-posts li .post-image { display: block; margin-bottom: 0; }
.blog-detail .related-posts li .post-image img { display: block; }
.blog-detail .related-posts li .post-title { font-size: 14px; line-height: 23px; text-transform: none; margin: 8px 0 0; display: block; font-weight: normal; }
.blog-detail .related-posts li .post-title:hover { text-decoration: none; }

/* Comments */
#comments { margin-right: -40px; margin-top: 32px; }
.full-width #comments { margin-right: 0; }
#comment-title { margin: 0; font-size: 11px; line-height: 11px; font-weight: bold; text-transform: uppercase; padding: 18px 20px; }
#comment-title small { font-style: italic; }
.comment-notes { display: none; }
.comment-list, .comment-list .children { list-style: none; padding-left: 0; }
.comment-list { padding-top: 40px; }
.comment-list > li.comment { padding-top: 40px; }
.comment-list > li.comment:first-child { border-top: 0; padding-top: 0; }
.comment { position: relative; }
.single-comment { padding: 0; position: relative; margin-bottom: 40px; }
.comment-list .children { margin-left: 90px; }
.comment-list .children > li { padding-top: 42px; }
.avatar { position: absolute; top: 0; left: 0; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; }
.commenter { position: absolute; top: -4px; left: 90px; font-style: normal; font-weight: bold; font-size: 14px; line-height: 18px; }
.commenter a:hover { text-decoration: none; }
.comment-meta { margin: 0 0 0 90px; padding-top: 20px; font-size: 12px; line-height: 16px; }
.comment-content { margin-top: 44px; padding-right: 40px; padding-left: 90px; }
.comment-reply { position: absolute; top: 36px; left: 90px; font-size: 11px; text-transform: uppercase; font-weight: bold; }
.comment-list .children .comment-reply { top: 85px; }
.comment-list > li.comment > .comment-reply { top: 83px; }
.comment-list > li.comment:first-child > .comment-reply { top: 43px; }
.comment-not-approved { position: absolute; right: 0; top: 0; }
.bypostauthor { }
#comments .navigation-top { margin-bottom: 40px; }
#comments .navigation-bottom { margin: 40px 0 40px 0; }
#comments .nav-previous { float: left; }
#comments .nav-next { float: right; }


/* Comment Reply Form */
#respond { position: relative; }
#reply-title { margin: 0; font-size: 11px; line-height: 11px; font-weight: bold; text-transform: uppercase; padding: 18px 20px; }
#commentform .logged-in-as { font-size: 14px; margin: 30px 0 10px 0; line-height: 14px; }
#commentform .form-section input { margin-right: 10px; width: 250px; }
#commentform #form-section-author { margin-top: 40px; }
.comment > #respond { float: none; border-top: 0; margin-top: 0; padding-bottom: 40px; } 
#reply-title #cancel-comment-reply-link { position: absolute; right: 40px; top: 19px; font-size: 11px; text-transform: uppercase; line-height: 13px; }
.logged-in #reply-title #cancel-comment-reply-link { top: 17px; }
.form-section { margin-bottom: 20px; }
.form-section label { cursor: pointer; }
.form-allowed-tags { display: none; }

/* Comment Reply Form (with sidebar) */
.form-section textarea { width: 690px; }
.depth-2 textarea { width: 600px!important; }
.depth-3 textarea { width: 510px!important; }
.depth-4 textarea { width: 420px!important; }

/* Comment Reply Form (full width) */
.full-width .form-section textarea { width: 940px; }
.full-width .depth-2 textarea { width: 850px!important; }
.full-width .depth-3 textarea { width: 760px!important; }
.full-width .depth-4 textarea { width: 670px!important; }

/* Contact Page */
#contact-form p { margin: 0; padding: 0; display: inline; }
#contact-form label { margin-left: 10px; }
#contact-form input { width: 360px; }
#contact-form textarea { width: 690px; }
.input-error { border-color: red; border-color: rgba(255, 0, 0, 0.4); -moz-box-shadow: inset 0 0 3px rgba(255, 0, 0, 0.1)!important; -webkit-box-shadow: inset 0 0 3px rgba(255, 0, 0, 0.1)!important; box-shadow: inset 0 0 3px rgba(255, 0, 0, 0.1)!important; }
.sending-message,
.success-sending-message,
.error-sending-message { display: none; }
.sending-message { padding: 6px 0 6px 35px;  }

/* Portfolio */
.portfolio-content { padding-bottom: 40px; }
.portfolio-page { padding-bottom: 40px; }

#portfolio-filter-container { margin: 40px 0 0 0; overflow: hidden; font-size: 11px; font-weight: bold; }
.portfolio-browse { margin: 0; padding: 0 20px; float: left; }
.portfolio-filters { list-style-type: none; float: left; }
.portfolio-filters li a:hover { text-decoration: none; }
#portfolio-filter-container .portfolio-browse { float: left; }
#portfolio-filter-container .portfolio-filters { margin: 0; padding: 0; float: left; }
#portfolio-filter-container .portfolio-filters li { float: left; margin: 0; padding: 0 0 0 35px; }
/* No javascript fallback portfolio quicksand filtering */
.no-js #portfolio-filter-container { display: none; }

.portfolio-item { overflow: hidden; }
.portfolio-item .portfolio-info { overflow: hidden; position: relative; }
.portfolio-item .portfolio-title:hover { text-decoration: none; }
.portfolio-item .long-bar { position: relative; }

/* Portfolio detail page */
.portfolio-detail-page #single-nav { margin-top: -40px; margin-bottom: 40px; }
.portfolio-detail-page .portfolio-detail-media { margin-bottom: 32px; }
.portfolio-detail-page .portfolio-detail-big-image { margin: 0 0 20px 0; overflow: hidden; }
.portfolio-detail-page .portfolio-detail-big-image img { display: block; }
.portfolio-detail-page .portfolio-detail-big-image .caption { font-size: 12px; line-height: 26px; font-weight: normal; font-style: italic; }
.portfolio-detail-page .related-work { margin-top: 32px; }
.portfolio-detail-page .related-work h3 { margin: 0 0 40px 0; font-size: 11px; line-height: 11px; font-weight: bold; text-transform: uppercase; padding: 18px 20px; }
.portfolio-detail-page #single-nav-below { margin-right: 0; }
.portfolio-detail-page #single-nav-below-title { margin-right: 0; }
.portfolio-detail-page #single-nav-below-prev { width: 480px; }
.portfolio-detail-page #single-nav-below-next { width: 479px; }

/* Portfolio 1 Column */
.portfolio-1-columns-list { list-style-type: none; margin: 40px 0 -40px 0; padding: 0 0 40px; }
.portfolio-1-columns-list li { width: 960px; margin: 0 0 40px 0; padding-bottom: 40px; position: relative; clear: both; }
.portfolio-1-columns-list .portfolio-image { float: left; width: 480px; overflow: hidden; }
.portfolio-1-columns-list li > a,
.portfolio-1-columns-list .portfolio-image img { display: block; }
.portfolio-1-columns-list .portfolio-info { margin: 0; padding: 0; margin-left: 510px; }
.portfolio-1-columns-list .portfolio-title { font-size: 26px; line-height: 26px; display: block; margin: 16px 0 18px 0; }

/* Portfolio 2 Columns */
.portfolio-2-columns-list { list-style-type: none; margin: 40px 0 -20px -20px; padding: 0 0 40px; letter-spacing: -5px; }
.portfolio-2-columns-list li { width: 470px; margin: 0 0 20px 20px; display: inline-block; vertical-align: top; letter-spacing: normal; position: relative; }
.portfolio-2-columns-list li > a,
.portfolio-2-columns-list .portfolio-image img { display: block; }
.msie-7 .portfolio-2-columns-list li { display: inline; margin-right: 0;}
.portfolio-2-columns-list .portfolio-info { margin: 0; padding: 20px; position: relative; }
.portfolio-2-columns-list .portfolio-title { font-size: 20px; line-height: 30px; display: block; margin: 0; text-align: center; }

/* Portfolio 2 Columns without Gutter */
.portfolio-2-columns-list-no-gutter { list-style-type: none; margin: 40px 0 0 0; padding: 0 0 40px; }
.portfolio-2-columns-list-no-gutter li { width: 480px; margin: 0; padding: 0; float: left; overflow: hidden; position: relative; }
.portfolio-2-columns-list-no-gutter li > a,
.portfolio-2-columns-list-no-gutter .portfolio-image img { display: block; }
.portfolio-2-columns-list-no-gutter .portfolio-info { margin: 0; padding: 20px; width: 440px; position: absolute; bottom: 0; left: 0; right: 0; display: none; }
.portfolio-2-columns-list-no-gutter .portfolio-title { font-size: 20px; line-height: 30px; display: block; margin: 0; text-align: center; }

/* Portfolio 3 Columns */
.portfolio-3-columns-list { list-style-type: none; margin: 40px 0 -30px -30px; padding: 0 0 40px; letter-spacing: -5px; }
.portfolio-3-columns-list li { width: 300px; margin: 0 0 30px 30px; display: inline-block; vertical-align: top; letter-spacing: normal; position: relative; }
.portfolio-3-columns-list li > a,
.portfolio-3-columns-list .portfolio-image img { display: block; }
.msie-7 .portfolio-3-columns-list li { display: inline; margin-right: 0;}
.portfolio-3-columns-list .portfolio-info { margin: 0; padding: 16px; position: relative; }
.portfolio-3-columns-list .portfolio-title { font-size: 16px; line-height: 30px; display: block; margin: 0; text-align: center; }

/* Portfolio 3 Columns without Gutter */
.portfolio-3-columns-list-no-gutter { list-style-type: none; margin: 40px 0 0 0; padding: 0 0 40px; }
.portfolio-3-columns-list-no-gutter li { width: 320px; margin: 0; padding: 0; float: left; overflow: hidden; position: relative; }
.portfolio-3-columns-list-no-gutter li > a,
.portfolio-3-columns-list-no-gutter .portfolio-image img { display: block; }
.portfolio-3-columns-list-no-gutter .portfolio-info { margin: 0; padding: 15px; width: 290px; position: absolute; bottom: 0; left: 0; right: 0; display: none; }
.portfolio-3-columns-list-no-gutter .portfolio-title { font-size: 16px; line-height: 30px; display: block; margin: 0; text-align: center; }

/* Portfolio 4 Columns */
.portfolio-4-columns-list { list-style-type: none; margin: 40px 0 -20px -20px; padding: 0 0 40px; letter-spacing: -5px; }
.portfolio-4-columns-list li { width: 225px; margin: 0 0 20px 20px; display: inline-block; vertical-align: top; letter-spacing: normal; position: relative; }
.portfolio-4-columns-list li > a,
.portfolio-4-columns-list .portfolio-image img { display: block; }
.msie-7 .portfolio-4-columns-list li { display: inline; margin-right: 0;}
.portfolio-4-columns-list .portfolio-info { margin: 0; padding: 10px; position: relative; }
.portfolio-4-columns-list .portfolio-title { font-size: 14px; line-height: 30px; display: block; margin: 0; text-align: center; }

/* Portfolio 4 Columns without Gutter */
.portfolio-4-columns-list-no-gutter { list-style-type: none; margin: 40px 0 0 0; padding: 0 0 40px; }
.portfolio-4-columns-list-no-gutter li { width: 240px; margin: 0; padding: 0; float: left; overflow: hidden; position: relative; }
.portfolio-4-columns-list-no-gutter li > a,
.portfolio-4-columns-list-no-gutter .portfolio-image img { display: block; }
.portfolio-4-columns-list-no-gutter .portfolio-info { margin: 0; padding: 10px; width: 220px; position: absolute; bottom: 0; left: 0; right: 0; display: none; }
.portfolio-4-columns-list-no-gutter .portfolio-title { font-size: 14px; line-height: 30px; display: block; margin: 0; text-align: center; }

/* Sharing buttons */
.post-share-buttons { width: 340px; float: right; margin: 0 0 20px 20px; }
.post-share-buttons .post-share-title { font-size: 11px; font-weight: bold; text-transform: uppercase; line-height: 32px; padding-left: 22px; -moz-border-radius: 2px 2px 0 0; -webkit-border-radius: 2px 2px 0 0; border-radius: 2px 2px 0 0; }
.post-share-buttons .addthis_toolbox { width: 300px; padding: 12px 20px 0px 20px; height: 33px; -moz-border-radius: 0 0 2px 2px; -webkit-border-radius: 0 0 2px 2px; border-radius: 0 0 2px 2px; }
body .addthis_counter.addthis_pill_style.addthis_nonzero a.addthis_button_expanded { display: none!important; }

/* Widgets */
#secondary .widget { padding-left: 20px; }
#secondary .widget { font-size: 14px; line-height: 26px; }
#secondary .widget > div > ul,
#secondary .widget > ul { margin-left: -20px; margin-bottom: -1px; }
.widget h3 { margin: 8px 0 18px 0; padding: 0; }
.widget ul { list-style-type: none; margin: 0; padding: 0; }
.widget ul li { padding-left: 20px; padding-top: 9px; padding-bottom: 9px; }
.widget ul li ul { margin-top: 10px; margin-bottom: -10px; margin-left: -20px; }
.widget ul li ul li { padding-left: 35px; }
.widget ul li ul li ul { margin-left: -35px; }
.widget ul li ul li ul li { padding-left: 50px; }
.widget li { margin: 0; padding: 6px 0; list-style-type: none; font-size: 14px; line-height: 22px; }
.widget-sub-pages a, 
.widget_pages a, 
.widget .menu a { display: block; padding-right: 20px; }
.widget ul a:hover { text-decoration: none; }
.widget { margin-bottom: 45px; }

/* Widgets in left sidebar */
.left-sidebar #secondary .widget { padding-left: 0; padding-right: 20px; }
.left-sidebar #secondary .widget > div > ul,
.left-sidebar #secondary .widget > ul { margin-left: 0; margin-right: -20px; }
.left-sidebar #secondary .widget ul li { padding-left: 0; }
.left-sidebar #secondary .widget ul li ul { margin-left: 0; }
.left-sidebar #secondary .widget ul li ul li { padding-left: 15px; }
.left-sidebar #secondary .widget ul li ul li ul { margin-left: -15px; }
.left-sidebar #secondary .widget ul li ul li ul li { padding-left: 30px; }

.left-sidebar #secondary .widget-sub-pages > ul > li.current_page_item > a,
.left-sidebar #secondary .widget_pages > ul > li.current_page_item > a,
.left-sidebar #secondary .widget .menu > li.current-menu-item > a { padding-left: 15px; }

/* Search Widget */
input.search { width: 170px; margin-bottom: 20px; }
button.search-btn { display: none; }

/* Archive widget */
.widget_archive select { width: 210px; } 

/* Calendar Widget */
.widget_calendar table caption { margin: 0 0 10px 0; }
.widget_calendar table { border-collapse: separate; *border-collapse: collapse; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.widget_calendar table tfoot td + td { border-left: 0!important; }
.widget_calendar tfoot #prev { text-align: left; padding-left: 10px; }
.widget_calendar tfoot #next { text-align: right; padding-right: 10px; }
.widget_calendar th,
.widget_calendar td { text-align: center; padding: 3px 0; font-size: 10px; }

/* Custom Menu and Sub-Pages Widget */
.widget .menu { float: none; }
.widget-sub-pages li.current_page_item > a,
.widget_pages li.current_page_item > a,
.widget .menu li.current-menu-item > a { font-weight: 600; }

/* Recent and Popular Posts Widget */
.widget-posts ul { list-style-type: none; padding-left: 0; margin-left: 0!important; border-top: 0!important; }
.left-sidebar #secondary .widget-posts ul { margin-right: 0!important; }
.widget-posts li { padding: 20px 0!important; }
.widget-posts li:first-child { padding-top: 0!important; border-top: 0; }
.widget-posts li .post-image { display: block; margin-bottom: 12px; }
.widget-posts li .post-image img { display: block; max-width: 100%; }
.widget-posts li .post-title { font-size: 14px; line-height: 26px; font-weight: 600; }
.widget-posts li .post-title:hover { text-decoration: none; }
.widget-posts li .excerpt { margin-top: 2px; margin-bottom: 0; }
.widget-posts-off-sidebar { margin: 0 0 0 -40px; letter-spacing: -5px; }
.widget-posts-off-sidebar li { width: 210px; margin: 0 0 40px 40px; padding: 0!important; display: inline-block; vertical-align: top; letter-spacing: normal; }
.msie-7 .widget-posts-off-sidebar li { display: inline; margin-right: 0; }

/* Twitter Widget */
.widget-twitter { padding-bottom: 14px; }
.widget-twitter ul { list-style-type: none; padding-left: 0; margin-left: 0!important; border-top: 0!important; margin-bottom: 20px!important; }
.left-sidebar #secondary .widget-twitter ul { margin-right: 0!important; }
.widget-twitter li { padding: 20px 0!important; }
.widget-twitter li:first-child { padding-top: 0!important; border-top: 0; }
.widget-twitter p { margin-bottom: 0; }
.widget-twitter small { display: block; font-size: 10px; font-weight: normal; }
.widget-twitter-off-sidebar ul { padding-left: 0; list-style-type: none; }
#jtwt_loader { background: transparent url('../images/loader.gif') no-repeat scroll center center; margin-bottom: 20px; }

/* Contact Form Widget */
.widget-contact-form #contact-form p { margin: 0; padding: 0; }
.widget-contact-form #contact-form label { display: block; margin: 0; }
.widget-contact-form #contact-form input { width: 170px; }
.widget-contact-form #contact-form textarea { height: 100px; width: 170px; }

.widget-contact-form .sending-message,
.widget-contact-form .success-sending-message,
.widget-contact-form .error-sending-message { display: none; }
.widget-contact-form .sending-message { padding: 6px 0 6px 35px; }

/* Flickr Widget */
.widget-flickr ul { overflow: hidden; padding-left: 0; }
.widget-flickr li { width: 70px; padding: 0; float: left; display: block; margin: 0; border-bottom: 0!important; }
.widget-flickr li a { padding: 0; margin: 0; }
.widget-flickr li img { width: 100%; height: auto; padding: 0; margin: 0; display: block; }

/* Social buttons Widget */
.widget-social ul { border-top: 0!important; margin-left: -10px!important; margin-bottom: 16px!important; }
.widget-social ul li { border-bottom: 0!important; display: inline-block; padding: 0; margin-left: 8px; margin-bottom: 6px; }
.msie-7 .widget-social ul li { display: inline; }
.widget-social ul li a { display: block; width: 32px; height: 32px; }
/* Black icons */
.widget-social a.rss { background: transparent url('../images/social_icons/rss_black.png') scroll no-repeat center center;}
.widget-social a.twitter { background: transparent url('../images/social_icons/twitter_black.png') scroll no-repeat center center;}
.widget-social a.facebook { background: transparent url('../images/social_icons/facebook_black.png') scroll no-repeat center center;}
.widget-social a.googleplus { background: transparent url('../images/social_icons/googleplus_black.png') scroll no-repeat center center;}
.widget-social a.flickr { background: transparent url('../images/social_icons/flickr_black.png') scroll no-repeat center center;}
.widget-social a.dribbble { background: transparent url('../images/social_icons/dribbble_black.png') scroll no-repeat center center;}
.widget-social a.forrst { background: transparent url('../images/social_icons/forrst_black.png') scroll no-repeat center center;}
.widget-social a.behance { background: transparent url('../images/social_icons/behance_black.png') scroll no-repeat center center;}
.widget-social a.youtube { background: transparent url('../images/social_icons/youtube_black.png') scroll no-repeat center center;}
.widget-social a.vimeo { background: transparent url('../images/social_icons/vimeo_black.png') scroll no-repeat center center;}
.widget-social a.linkedin { background: transparent url('../images/social_icons/linkedin_black.png') scroll no-repeat center center;}
.widget-social a.skype { background: transparent url('../images/social_icons/skype_black.png') scroll no-repeat center center;}
/* White icons */
.footer-column .widget-social a.rss,
#footer .widget-social a.rss,
#superior-header-left .widget-social a.rss { background: transparent url('../images/social_icons/rss_white.png') scroll no-repeat center center;}
.footer-column .widget-social a.twitter,
#footer .widget-social a.twitter,
#superior-header-left .widget-social a.twitter { background: transparent url('../images/social_icons/twitter_white.png') scroll no-repeat center center;}
.footer-column .widget-social a.facebook,
#footer .widget-social a.facebook,
#superior-header-left .widget-social a.facebook { background: transparent url('../images/social_icons/facebook_white.png') scroll no-repeat center center;}
.footer-column .widget-social a.googleplus,
#footer .widget-social a.googleplus,
#superior-header-left .widget-social a.googleplus { background: transparent url('../images/social_icons/googleplus_white.png') scroll no-repeat center center;}
.footer-column .widget-social a.flickr,
#footer .widget-social a.flickr,
#superior-header-left .widget-social a.flickr { background: transparent url('../images/social_icons/flickr_white.png') scroll no-repeat center center;}
.footer-column .widget-social a.dribbble,
#footer .widget-social a.dribbble,
#superior-header-left .widget-social a.dribbble { background: transparent url('../images/social_icons/dribbble_white.png') scroll no-repeat center center;}
.footer-column .widget-social a.forrst,
#footer .widget-social a.forrst,
#superior-header-left .widget-social a.forrst { background: transparent url('../images/social_icons/forrst_white.png') scroll no-repeat center center;}
.footer-column .widget-social a.behance,
#footer .widget-social a.behance,
#superior-header-left .widget-social a.behance { background: transparent url('../images/social_icons/behance_white.png') scroll no-repeat center center;}
.footer-column .widget-social a.youtube,
#footer .widget-social a.youtube,
#superior-header-left .widget-social a.youtube { background: transparent url('../images/social_icons/youtube_white.png') scroll no-repeat center center;}
.footer-column .widget-social a.vimeo,
#footer .widget-social a.vimeo,
#superior-header-left .widget-social a.vimeo { background: transparent url('../images/social_icons/vimeo_white.png') scroll no-repeat center center;}
.footer-column .widget-social a.linkedin,
#footer .widget-social a.linkedin,
#superior-header-left .widget-social a.linkedin { background: transparent url('../images/social_icons/linkedin_white.png') scroll no-repeat center center;}
.footer-column .widget-social a.skype,
#footer .widget-social a.skype,
#superior-header-left .widget-social a.skype { background: transparent url('../images/social_icons/skype_white.png') scroll no-repeat center center;}

/* WPML language switcher widget (list mode) */
#lang_sel_list { height: auto; overflow: hidden; width: 100%; }
#lang_sel_list ul,
#lang_sel_list li { border: 0!important; width: 100%; height: auto; }
#lang_sel_list ul a, 
#lang_sel_list ul a:visited, 
#lang_sel_list ul a:hover { border: 0; padding: 0 0 12px 0!important; font-weight: normal; color: inherit!important; background-color: transparent; }

/* WPML language switcher widget (dropdown mode) */
#lang_sel { margin-bottom: 16px; }
#lang_sel ul { border-top: 0!important; }

/* Superior-header bar Widgets */
#superior-header .widget { margin-bottom: 0; }
#superior-header .widget .widget-title { display: none; }

#superior-header-left .widget { float: left; margin: 0; padding-right: 32px; }
#superior-header-right .widget { float: right; margin: 0; padding-left: 32px; }
#superior-header-right .widget:first-child { padding-right: 32px; }

/* Menu Widget in the superior-header bar */
#superior-header .widget_nav_menu .menu { list-style-type: none; padding: 0; }
#superior-header .widget_nav_menu .menu li { float: left; margin-right: 14px; padding: 0; }
#superior-header-right .widget_nav_menu .menu li { margin-left: 14px; margin-right: 0; }
#superior-header-right .widget_nav_menu { padding-left: 18px; }

/* Social buttons Widget in the superior-header bar */
#superior-header .widget-social ul { margin-left: 0!important; margin-bottom: 0!important; height: 30px; }
#superior-header .widget-social ul li { margin-left: 4px; margin-bottom: 0!important; margin-top: -1px!important; }
#superior-header .widget-social ul li a { color: transparent!important; }

/* WPML language switch widget in the superior-header bar (list mode) */
#superior-header #lang_sel_list li { display: inline-block; float: none; overflow: hidden; width: 27px; height: 13px; top: 0; }
#superior-header-right #lang_sel_list li { text-align: right; right: -4px; }

/* WPML language switch widget in the superior-header bar (dropdown mode) */
#superior-header #lang_sel { height: 30px; margin-bottom: 0; } 
#superior-header #lang_sel li { display: inline-block; overflow: hidden; height: 30px; }
#superior-header #lang_sel > ul > li { width: auto!important; }
#superior-header #lang_sel a { border: 0!important; width: 32px; height: 15px; line-height: 1; float: left; overflow: hidden; padding: 8px 0 0!important; background-image: none!important; background-color: transparent!important; } 
#superior-header #lang_sel ul ul { visibility: visible!important; position: relative!important; top: 0; float: left; width: auto!important; }
#superior-header #lang_sel ul ul li { float: left; width: auto!important; }
#superior-header #lang_sel a.lang_sel_sel { padding-top: 7px!important; } 
#superior-header #lang_sel a.lang_sel_sel img { border: 1px solid rgba(255,255,255,.4); } 
#superior-header-right #lang_sel { right: -14px; }
#superior-header-right #lang_sel a.lang_sel_sel img { border: 1px solid rgba(0,0,0,.4); } 

/* Footer Widgets */
#footer-widgets { width: 960px; margin: 0 auto; padding: 0 32px; }
.footer-column { width: 209px; float: left; padding: 30px 20px 30px 20px; margin: 0; }
#footer-column-1 { width: 210px; border-left: 0; padding-left: 0; }
#footer-column-4 { padding-right: 0; }
.footer-column .widget-title { margin: -2px 0 9px 0; }
.footer-column .bar { margin-bottom: 15px; }
.footer-column .widget { font-size: 12px; line-height: 20px; margin: 0 -20px 0 -20px; padding: 20px; }
.footer-column .widget:first-child { border-top: 0; }
.footer-column .widget li { font-size: 12px; line-height: 20px; }
.footer-column .widget ul li { padding-left: 0; padding-top: 2px; padding-bottom: 2px; }
.footer-column .widget ul li ul { margin-top: 2px; margin-bottom: -2px; margin-left: 0; }
.footer-column .widget ul li ul li { padding-left: 15px; }
.footer-column a { font-weight: bold; }
.footer-column a:hover { text-decoration: underline!important; }

/* Search Widget in the footer widget area */
.footer-column input.search { width: 190px; margin-bottom: 0; }

/* Custom Menus in the footer widget area */
.footer-column .widget-sub-pages li.current_page_item > a, 
.footer-column .widget_pages li.current_page_item > a, 
.footer-column .widget .menu li.current-menu-item > a { padding-left: 5px; padding-right: 5px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; display: inline-block; }

/* Social buttons Widget in the footer widget area */
.footer-column .widget-social ul { margin-left: -7px!important; margin-bottom: 0!important; }
.footer-column .widget-social ul li { margin-left: 4px; }
.footer-column .widget-social ul li a { color: transparent!important; }

/* Twitter Widget in the footer widget area */
.footer-column .widget-twitter ul { margin-bottom: 0!important; }
.footer-column .widget-twitter li { padding-top: 0!important; }

/* Footer */
#footer { width: 960px; margin: 0 auto; padding: 0 32px; height: 41px; line-height: 41px; overflow: hidden; }

/* Footer bar Widgets */
#footer .widget { margin-bottom: 0; }
#footer .widget,
#footer .widget li { font-size: 10px; line-height: 41px; font-weight: 600; text-transform: uppercase; }
#footer .widget .widget-title,
#footer .bar { display: none; }

#footer-left .widget { float: left; margin-right: 25px; }
#footer-right .widget { float: right; margin-left: 25px; }

/* Menu Widget in the footer bar */
#footer .widget_nav_menu .menu { list-style-type: none; padding: 0; }
#footer .widget_nav_menu .menu li { float: left; margin-right: 25px; padding: 0; }
#footer .widget_nav_menu .menu li a { padding: 0; }
#footer .widget_nav_menu .menu li a:hover { text-decoration: underline; }
#footer-right .widget_nav_menu .menu li { margin-left: 25px; margin-right: 0; }

/* Social buttons Widget in the footer bar */
#footer .widget-social ul { margin-left: 0!important; margin-bottom: 0!important; }
#footer .widget-social ul li { margin-left: 4px; margin-bottom: 0!important; margin-top: 4px!important; }
#footer .widget-social ul li a { color: transparent!important; }

/* WPML language switch widget in the footer bar (list mode) */
#footer #lang_sel_list li { display: inline-block; float: none; overflow: hidden; width: 27px; height: 13px; top: 1px; }
#footer-right #lang_sel_list li { text-align: right; right: -4px; }

/* WPML language switch widget in the footer bar (dropdown mode) */
#footer #lang_sel { height: 30px; margin-bottom: 0; margin-top: 6px; } 
#footer #lang_sel li { display: inline-block; overflow: hidden; height: 30px; }
#footer #lang_sel > ul > li { width: auto!important; }
#footer #lang_sel a { border: 0!important; width: 32px; height: 15px; line-height: 1; float: left; overflow: hidden; padding: 8px 0 0!important; background-image: none!important; background-color: transparent!important; } 
#footer #lang_sel ul ul { visibility: visible!important; position: relative!important; top: 0; float: left; width: auto!important; }
#footer #lang_sel ul ul li { float: left; width: auto!important; }
#footer #lang_sel a.lang_sel_sel { padding-top: 7px!important; } 
#footer #lang_sel a.lang_sel_sel img { border: 1px solid rgba(255,255,255,.4); } 
#footer-right #lang_sel { right: -14px; }

/* Columns Layouts */
.one-half { width: 48%; }
.one-third { width: 30.66%; }
.two-third { width: 65.33%; }
.one-fourth { width: 22%; }
.three-fourth { width: 74%; }
.one-fifth { width: 16.8%; }
.two-fifth { width: 37.6%; }
.three-fifth { width: 58.4%; }
.four-fifth { width: 79.2%; }
.one-sixth { width: 13.33%; }
.five-sixth { width: 82.67%; }

.one-half, .one-third, .two-third, .three-fourth, .one-fourth, .one-fifth, .two-fifth, .three-fifth, .four-fifth, .one-sixth, .five-sixth { position: relative; margin-right: 4%; float: left; }
.last { margin-right: 0!important; }

.one-half + br, .one-third + br, .two-third + br, .one-fourth + br, .three-fourth + br, .one-fifth + br, .two-fifth + br, .three-fifth + br, .four-fifth + br, .one-sixth + br, .five-sixth + br { display: none!important; }

/* List shortcode */
ul.separator { list-style-type: none; margin: 0; padding: 0; }
ul.separator li ul { margin-top: 7px; margin-bottom: -7px; }
ul.separator li { margin: 0; padding: 6px 0; list-style-type: none; font-size: 14px; line-height: 22px; }

/* Buttons */
.custom-button, button, #submit, .wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:visited, .wp-pagenavi span.current { cursor: pointer; display: inline-block; font-weight: bold; padding: 10px 20px; font-size: 11px; line-height: 12px; font-weight: bold; border: 0!important; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.custom-button:hover, button:hover, #submit:hover, .wp-pagenavi a:hover, .wp-pagenavi span.current { text-decoration: none; }
/* Medium buttons */
.custom-button.medium, button.medium { padding: 12px 23px; font-size: 14px; line-height: 14px; }
/* Large buttons */
.custom-button.large, button.large { padding: 17px 34px 18px; font-size: 18px; line-height: 18px; }

/* Call to action */
.call-to-action-big { padding: 20px; margin-bottom: 20px; }
.call-to-action-big h2 { font-size: 60px; line-height: 60px; text-align: center; margin-bottom: 10px; font-weight: 600; letter-spacing: -1px; }
.call-to-action-big p.excerpt { font-size: 24px; line-height: 28px; text-align: center; margin-bottom: 30px; font-weight: 400; letter-spacing: -1px; }
.call-to-action-big p { text-align: center; }

.call-to-action-small { padding: 20px; margin-bottom: 20px; }
.call-to-action-small h2 { font-size: 40px; line-height: 40px; text-align: center; margin-bottom: 7px; font-weight: 300; }
.call-to-action-small p.excerpt { font-size: 18px; line-height: 24px; text-align: center; margin-bottom: 20px; font-weight: 300; }
.call-to-action-small p { text-align: center; }

.call-to-action-bar-wrapper { padding-left: 7px; position: relative; }
.call-to-action-bar { padding: 30px; -moz-border-radius: 0 2px 2px 0; -webkit-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0; }
.call-to-action-bar h3 { margin: -8px 190px 0 0; }
.call-to-action-bar-wrapper.no-excerpt h3 { margin-bottom: -6px; }
.call-to-action-bar span { margin: 1px 190px -5px 0; display: block; line-height: 22px; }
.call-to-action-bar p { margin: 0; }
.call-to-action-bar .custom-button { position: absolute; top: 50%; right: 30px; max-width: 120px; padding-left: 15px; padding-right: 15px; margin-top: -19px; }

/* Wide bar shortcode */
.wide-bar { width: 960px; }
.wide .wide-bar { margin-left: -480px; padding: 0 480px; }
.narrow .wide-bar { margin-left: -32px; padding: 0 32px; }
.wide-bar.white-text a { font-weight: bold!important; }
.wide-bar.white-text .call-to-action-big h2,
.wide-bar.white-text .call-to-action-small h2 { -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); }

/* Big Title */
.big-title { margin: 10px 0 10px 0; }
.big-title h2 { font-size: 60px; line-height: 60px; margin: 9px 0 10px -5px; font-weight: 600; letter-spacing: -1px; }
.big-title p.sub-title { font-size: 24px; line-height: 28px; font-weight: 400; margin: 0 0 25px; }
.big-title p.sub-title-empty { line-height: 0; margin-bottom: 0; }

/* Small Title */
.small-title { margin: 0 0 30px 0; padding: 0; }
.small-title h3 { padding: 0 13px 0 0; margin: 0; display: inline; }
.small-title .long-bar { margin-top: -17px; }

/* Information Box */
.info-box { margin-bottom: 20px; }
.info-box .info-box-title { font-size: 11px; line-height: 32px; padding: 0 20px; font-weight: bold; margin: 0; overflow: hidden; position: relative; -moz-border-radius: 2px 2px 0 0; -webkit-border-radius: 2px 2px 0 0; border-radius: 2px 2px 0 0; }
.info-box .info-box-content { padding: 20px 20px 1px 20px; -moz-border-radius: 0 0 2px 2px; -webkit-border-radius: 0 0 2px 2px; border-radius: 0 0 2px 2px; }

/* Toggle */
.toggle-container { margin-bottom: 15px; padding: 0; border: 0; overflow: hidden; position: relative; }
.toggle-container .toggle { display: block; position: relative; line-height: 20px; }
.toggle-container .toggle:hover { border-bottom: 0; }
.toggle-container .toggle .toggle-sign { position: absolute; left: 0; top: 1px; margin: 0; padding: 0; width: 20px; height: 20px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.toggle-container .toggle .toggle-title { font-size: 11px; font-weight: bold; padding: 0; margin: 0 0 0 30px; }
.msie-7 .toggle-container .toggle .toggle-title { display: block!important; }
.toggle-container .toggle span { display: inline-block; }
.toggle-container .toggle-content { padding-top: 18px; }

/* Separator */
div.hr { height: 1px; margin: 40px 0; position: relative; }
div.hr.to-top { margin-top: 50px; margin-right: 0!important; }
div.hr hr { display: none; }
div.hr span.to-top { position: absolute; right: 0; bottom: 0; font-size: 11px; line-height: 27px; padding: 0 20px; font-weight: bold; cursor: pointer; }

/* Dropcaps */
.dropcap { display: block; float: left; font-size: 50px; line-height: 51px; margin: -1px 8px -2px 0; }
.dropcap + br { display: none; }

/* Lists */
ul.list { padding: 0; }
ul.list ul { padding-left: 0; }
ul.list li { padding-left: 20px; }
ul.list.bullet-black li { background: transparent url('../images/bullets/bullet_black.png') no-repeat scroll left 9px; }
ul.list.bullet-blue li { background: transparent url('../images/bullets/bullet_blue.png') no-repeat scroll left 9px; }
ul.list.bullet-cross li { background: transparent url('../images/bullets/bullet_cross.png') no-repeat scroll left 9px; }
ul.list.bullet-disk li { background: transparent url('../images/bullets/bullet_disk.png') no-repeat scroll left 9px; }
ul.list.bullet-error li { background: transparent url('../images/bullets/bullet_error.png') no-repeat scroll left 9px; }
ul.list.bullet-go li { background: transparent url('../images/bullets/bullet_go.png') no-repeat scroll left 9px; }
ul.list.bullet-green li { background: transparent url('../images/bullets/bullet_green.png') no-repeat scroll left 9px; }
ul.list.bullet-orange li { background: transparent url('../images/bullets/bullet_orange.png') no-repeat scroll left 9px; }
ul.list.bullet-picture li { background: transparent url('../images/bullets/bullet_picture.png') no-repeat scroll left 9px; }
ul.list.bullet-pink li { background: transparent url('../images/bullets/bullet_pink.png') no-repeat scroll left 9px; }
ul.list.bullet-purple li { background: transparent url('../images/bullets/bullet_purple.png') no-repeat scroll left 9px; }
ul.list.bullet-red li { background: transparent url('../images/bullets/bullet_red.png') no-repeat scroll left 9px; }
ul.list.bullet-star li { background: transparent url('../images/bullets/bullet_star.png') no-repeat scroll left 9px; }
ul.list.bullet-tick li { background: transparent url('../images/bullets/bullet_tick.png') no-repeat scroll left 9px; }
ul.list.bullet-white li { background: transparent url('../images/bullets/bullet_white.png') no-repeat scroll left 9px; }
ul.list.bullet-yellow li { background: transparent url('../images/bullets/bullet_yellow.png') no-repeat scroll left 9px; }

/* Shortcode Slider */
.slider-container { position: relative; margin-bottom: 18px; }
.slider { margin: 0; padding: 0; list-style-type: none; position: relative; width: 100%!important; overflow: hidden; }
.slider li { display: none; padding: 0!important; width: 100%!important; height: auto!important; }
/* Video */
.slider .slider-video { position: relative; width: 100%!important; height: auto; overflow: hidden; }
/* Image */
.slider-container .slider li .slider-image { position: relative; }
.slider-container .slider li .slider-image img { width: 100%; height: auto; display: block; }
/* Description */
.slider li .slider-description .description,
.slider li.has-video .slider-description { display: none; }
/* Title */
.slider .slider-description .slider-title { font-size: 26px; line-height: 21px; margin: 0; padding: 16px 20px 17px; position: absolute; left: 30px; bottom: 36px; }
.slider .slider-description .slider-title p { margin: 0; }
.slider .slider-description .bar { position: absolute; left: 0; top: -7px; margin: 0; }
/* Navigation */
.slider-container .slider-prev,
.slider-container .slider-next { width: 63px; height: 63px; z-index: 89; position: absolute; top: 50%; margin-top: -30px; cursor: pointer; display: none; }
.slider-container .slider-prev { left: 0; -moz-border-radius: 0 2px 2px 0; -webkit-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0; }
.slider-container .slider-next { right: 0; -moz-border-radius: 2px 0 0 2px; -webkit-border-radius: 2px 0 0 2px; border-radius: 2px 0 0 2px; }

/* Inner page slider no javascript fallback */
.no-js .slider li { display: block; position: absolute; }
.no-js .slider li.has-video { display: none; }

/* Testimonials */
.testimonial-container { margin: 0 0 30px 0; }
.testimonial-content { position: relative; padding: 25px 30px 10px; font-size: 16px; line-height: 23px; font-style: italic; font-weight: 300; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.testimonial-content p { font-size: 16px; line-height: 23px; }
.testimonial-content .triangle { position: absolute; bottom: -20px; left: 30px; width:0; height:0; display: block; border-left: 20px solid transparent; }
.testimonial-meta p { margin-bottom: 0; }
.testimonial-meta .testimonial-person { display: block; font-size: 11px; margin-left: 60px; margin-top: 2px; }

/* Tabs */
ul.tabs { margin: 0; padding: 0; float: left; list-style: none; height: 38px; width: 100%; }
ul.tabs li { float: left; margin: 0; margin-right: 2px; padding: 0; height: 38px; line-height: 38px; overflow: hidden; position: relative; }
ul.tabs li a { text-decoration: none; display: block; padding: 0 20px; outline: none; font-size: 11px; font-weight: bold; }
.tab-container { overflow: hidden; width: 100%; float: left; margin-bottom: 20px; }
.tab-content { padding-top: 18px; display: none; }

/* Pricing Table */
.price-table-two .price-column { width: 50%; }
.price-table-three .price-column { width: 33.33%; }
.price-table-four .price-column { width: 25%; }
.price-table-five .price-column { width: 20%; }
.price-table-six .price-column { width: 16.66%; }

.price-table { padding-bottom: 20px; }
.price-column { float: left; margin: 10px 0; }
.price-column-featured { margin: 0; position: relative; box-shadow: 1px 1px 20px rgba(50, 50, 50, .3); -moz-box-shadow: 1px 1px 20px rgba(50, 50, 50, .3); -webkit-box-shadow: 1px 1px 20px rgba(50, 50, 50, .3); -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#bab9b9')"; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#bab9b9'); }

.price-column ul li,
.price-column h4 { text-align: center; }
.price-column ul { list-style-type: none; margin: 0; padding: 15px 0; }
.price-column ul li { padding: 10px 0; margin: 0 10px; }
.price-column h4 { border-bottom: 0; margin: 0; padding: 0; line-height: 36px; font-size: 14px; }
.price-column-featured h4 { line-height: 46px; font-size: 20px; }
.price-column-featured ul { padding-bottom: 25px; }

.price-column-first h4,
.price-column-first { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; }
.price-column-first { -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; }
.price-column-last h4,
.price-column-last { -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; }
.price-column-last { -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }
.price-column-featured h4 { -webkit-border-radius: 2px 2px 0 0; -moz-border-radius: 2px 2px 0 0; border-radius: 2px 2px 0 0; }
.price-column-featured { -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.msie-7 .price-column-featured + .price-column,
.msie-7 .price-column-featured.price-column-last { margin-left: -4px; }

.price-column-featured .price-tag { font-weight: bold; }
.price-tag .price-value { font-size: 40px; display: block; line-height: 24px; margin-bottom: 8px; }
.price-tag .big { font-size: 46px; line-height: 47px; margin-bottom: 11px; }
.msie-7 .price-tag .big { margin-bottom: 1px; }
.price-tag .price-period { font-size: 14px; line-height: 16px; }

/* Image Shortcode */
.image-left { float: left; margin-right: 20px; margin-bottom: 20px; }
.image-right { float: right; margin-left: 20px; margin-bottom: 20px; }
.msie-7 a > img.image-right { float: none; } 
a > .image-left,
a > .image-right { margin: 0; }
.image-center { text-align: center; display: block!important; }
img.image-center { margin: 0 auto; display: block; }

/* Highlight */
.highlight { font-size: 11px; font-weight: bold; text-transform: uppercase; padding: 2px 4px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }

/* Icon */
.icon { margin-right: 10px; }

/* Blockquote */
blockquote { margin: 20px 0 20px 20px; padding: 0 20px; font-size: 16px; line-height: 23px; font-style: italic; font-weight: 300; }
blockquote p { margin: 0; }
blockquote.alignleft,
blockquote.alignright { width: 220px; }

/* Video Shortcode */
.embedded-video { width: 960px; height: 540px; margin: 0 0 20px 0; position: relative; overflow: hidden; }
#primary .embedded-video { width: 710px; height: 399px; }
video.zoom { position: absolute; }

/* Page navigation */
.wp-pagenavi .pages { float: right; font-weight: bold; font-size: 10px; text-transform: uppercase; margin-top: 4px; }
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:visited { cursor: pointer; font-size: 12px; display: inline-block; height: 29px; line-height: 29px; padding: 0 14px; margin-right: 8px; overflow: auto; border-bottom: 0; }
.wp-pagenavi a:active { position: relative; top: 1px; }
.wp-pagenavi span.current { font-size: 12px; display: inline-block; height: 29px; line-height: 29px; padding: 0 14px; margin-right: 8px; text-decoration: none; overflow: auto; }
.wp-pagenavi .extend { padding: 0 10px 0 0; display: none; }
.wp-pagenavi a:hover { text-decoration: none; }
.wp-pagenavi.post_linkpages a { margin-right: 5px; }

/* Single post navigation */
#single-nav { overflow: hidden; text-align: center; }
#single-nav * { display: block; }
#single-nav span { font-size: 11px; text-transform: uppercase; font-weight: bold; line-height: 11px; margin: 28px 0 0; }
#single-nav a { font-size: 14px; line-height: 26px; margin: 2px 0 22px; padding: 0 20px; }
#single-nav a:hover { text-decoration: none; }
#single-nav-prev { float: left; width: 480px; margin-right: -1px; }
#single-nav-next { float: right; width: 479px; }

/* Single post navigation below */
#single-nav-below-title { margin: 32px -40px 0 0; font-size: 11px; line-height: 11px; font-weight: bold; text-transform: uppercase; padding: 18px 20px; }
#single-nav-below { overflow: hidden; text-align: center; margin-bottom: -33px; margin-right: -40px; }
#single-nav-below * { display: block; }
#single-nav-below span { font-size: 11px; text-transform: uppercase; font-weight: bold; line-height: 11px; margin: 28px 0 0; }
#single-nav-below a { font-size: 14px; line-height: 26px; margin: 2px 0 22px; padding: 0 20px; }
#single-nav-below a:hover { text-decoration: none; }
#single-nav-below-prev { float: left; width: 374px; margin-right: -1px; }
#single-nav-below-next { float: right; width: 374px; }

/* Tables */
table { width: 100%; margin-bottom: 20px; }
th, td { padding: 10px; text-align: left; }
th { font-weight: bold; vertical-align: middle; }
td { vertical-align: top; }
table.border { border-collapse: separate; *border-collapse: collapse; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

/* Forms */
input, textarea, select { padding: 9px; font-size: 13px; line-height: 21px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.05)!important; -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.05)!important; box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.05)!important; }
input:focus, textarea:focus, select:focus { -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.1)!important; -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.1)!important; box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.1)!important; }

/* Bar */
.bar { display: block; content: ""; height: 7px; width: 70px; }
.long-bar { display: block; content: ""; height: 7px; }

/* IE7 clear fix */
.msie-7 .clearfix { clear: both; }

/* [gallery] */
.gallery { margin: 0 0 20px 0; overflow: hidden; }
.gallery-item { margin: 0; width: 20%; display: block; float: left; overflow: hidden; vertical-align: top; text-align: center; }
.msie-7 .gallery-item { margin: 0 0 -3px 0; }
.gallery-item a img { display: block; width: 100%; }
.gallery-caption, .gallery-caption-hidden { display: none; }

/* Basic Alignments and caption */
.alignleft { float: left; margin-right: 20px; margin-bottom: 20px; }
.alignright { float: right; margin-left: 20px; margin-bottom: 20px; }
.aligncenter { margin-left: auto; margin-right: auto; display: block; clear: both; margin-bottom: 20px; }
.wp-caption { width: auto!important; text-align: center; }
.wp-caption a:hover { border-bottom: 0; }
.wp-caption .wp-caption-text { margin-bottom: 0; }

/* Prevent Cufon flickering on page load */
.cufon-loading h1,
.cufon-loading h2, 
.cufon-loading h3, 
.cufon-loading h4, 
.cufon-loading h5, 
.cufon-loading h6, 
.cufon-loading #header .menu .nav > li > a, 
.cufon-loading #sub-header h1,
.cufon-loading #sub-header small,
.cufon-loading .portfolio-title,
.cufon-loading .widget-title { visibility: hidden !important; }

/* Lightbox facebook button fix */
.pp_social .facebook { width: 107px!important; }

/* Lightbox styling */
div.pp_default .pp_content_container .pp_left,
div.pp_default .pp_content_container .pp_right,
div.pp_default .pp_top *,
div.pp_default .pp_bottom * { background-image: none!important; }
div.pp_default .pp_content_container .pp_details { width: 96%!important; padding-left: 2%; padding-right: 2%; }
div.pp_default .pp_content_container .pp_details a.pp_close { right: 10px!important; }