/*-------------------------------------------------------------------------------------------*/
/* OptionsFramework Admin Styles */
/*-------------------------------------------------------------------------------------------*/

.updated {
	max-width:764px;
	margin-bottom:0px !important;
}
#optionsframework {
	position:relative;
	z-index: 0;
	max-width:780px;
	background:#fff;
}
#optionsframework p {
	margin-bottom:0;
	padding-bottom:10px;
	line-height: 20px;
}
#optionsframework .section {
	padding:10px 10px 0;
}
#optionsframework .group {
	padding-bottom:40px;
}
#optionsframework .section .heading {
	padding:10px 0px;
	margin:0 0 15px;
	border-bottom: 1px solid #dfdfdf;
}
#optionsframework .section .controls {
	float: left;
	min-width:350px;
	width: 54%;
	padding-right:2%;
}
#optionsframework .section .explain {
	max-width:38%;
	float: left;
	font-size: 12px;
	line-height:16px;
	color: #777;
}
#optionsframework .section-checkbox .controls {
	width: 98%;
}
#optionsframework .section-checkbox .explain {
	max-width:94%;
}
#optionsframework .section-color .controls {
	min-width:125px;
	width:125px
}
#optionsframework .controls input, #optionsframework .controls select, #optionsframework .controls textarea {
	margin-bottom:10px;
	width:100%;
}
.version-3-5 #optionsframework .controls select option {
	padding: 2px;
}
#optionsframework .section-radio label, #optionsframework .section-multicheck label {
	float:left;
	max-width:90%;
	line-height: 16px;
	margin-bottom: 5px;
}
#optionsframework input.checkbox, #optionsframework input.of-radio {
	width: 30px;
	float:left;
	clear:both;
}
#optionsframework .controls .of-color {
	float:left;
	width: 80px;
	margin-left:5px;
	margin-right:5px;
}
#optionsframework .controls label.typography-size {
	clear: left;
	float: left;
	margin-top: 8px;
	margin-left: 39px;
}
#optionsframework .controls .of-typography-size {
	width:80px;
	margin-left:10px;
	float:left;	
}
#optionsframework .controls label.typography-lineheight {
	clear: left;
	float: left;
	margin-top: 8px;
 	margin-left: 29px;
}
#optionsframework .controls .of-typography-lineheight {
	width:80px;
	margin-left:10px;
	float:left
}
#optionsframework .controls label.typography-fontstyle {
	clear: left;
	float: left;
	margin-top: 8px;
 	margin-left: 36px;
}
#optionsframework .controls .of-typography-fontstyle {
	width:150px;
	margin-left:10px;
	float:left
}
#optionsframework .controls label.typography-uppercase {
	clear: left;
	float: left;
	margin-top: 8px;
 	margin-left: 30px;
}
#optionsframework .controls .of-typography-uppercase {
	margin-left:10px;
	margin-top: 5px;
	float:left;
	width: auto!important;
}
#optionsframework .controls .of-typography-unit {
	width:50px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-face {
	width:250px;
	float:left
}
#optionsframework .controls .of-typography-style {
	width:80px;
	margin-left:5px;
	margin-right:5px;
	float:left
}
#optionsframework .of-background-properties {
	clear:both;
	margin-top: 18px;	
}
#optionsframework .controls .of-background-repeat {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-background-position {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-background-attachment {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-radio-img-img {
	border:3px solid #f9f9f9;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#optionsframework .controls .of-radio-img-selected {
	border:3px solid #ccc
}
#optionsframework .controls .of-radio-img-img:hover {
	opacity:.8;
}
#optionsframework .controls .of-border-width {
	width:80px;
	float:left
}
#optionsframework .controls .of-border-style {
	width:120px;
	float:left
}
#optionsframework .hide {
	display:none;
}
#optionsframework .of-option-image {
	max-width:340px;
	margin:3px 0 18px 0;
}
#optionsframework .mini .controls select, #optionsframework .section .mini .controls {
	width: 140px;
}
#optionsframework .mini .controls input, #optionsframework .mini .controls {
	min-width:140px;
	width: 140px;
}
#optionsframework .mini .explain {
	max-width:74%;
}

#optionsframework .small .controls select, #optionsframework .section .small .controls {
	width: 240px;
}
#optionsframework .small .controls input, #optionsframework .small .controls {
	min-width:240px;
	width: 240px;
}
#optionsframework .small .explain {
	max-width:74%;
}
/* Image Uploader */

#optionsframework .controls input.upload {
	width:80%;
}
#optionsframework .controls input.upload_button {
	float:right;
	width:45px;
	border-color:#BBBBBB;
	cursor:pointer;
	height:16px;
}
.version-3-5 #optionsframework .controls input.upload_button {
	width:60px;
	height:25px;
	margin-top:1px;
}
#optionsframework .controls input.upload_button:hover {
	border-color:#666666;
	color:#000;
}
#optionsframework .screenshot {
	float:left;
	margin-left:1px;
	position:relative;
	width:344px;
	margin-top:3px;
}
#optionsframework .screenshot img {
	background:#FAFAFA;
	border-color:#ccc #eee #eee #ccc;
	border-style:solid;
	border-width:1px;
	float:left;
	max-width:334px;
	padding:4px;
	margin-bottom:10px;
}
#optionsframework .screenshot .mlu_remove {
	background:url("../images/ico-delete.png") no-repeat;
	border:medium none;
	bottom:4px;
	display:block;
	float:left;
	height:16px;
	padding:0;
	position:absolute;
	left:-4px;
	text-indent:-9999px;
	width:16px;
}
#optionsframework .screenshot .no_image .file_link {
	margin-left: 20px;
}
#optionsframework .screenshot .no_image .mlu_remove {
	bottom: 0px;
}
#optionsframework .reset-button {
	float:left;
	cursor:pointer;
}

/* Bottom Section */

#optionsframework-submit {
	padding: 7px 10px;
	border-top: 1px solid #ECECEC;
	background-color: #F1F1F1;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
}
#optionsframework .button-primary {
	float:right;
}

/* unisphere Custom overrides */
textarea, input[type="text"], input[type="password"], input[type="file"], select { background-color: #f9f9f9!important; color: #666; border: 3px solid #e0e0e0!important; }
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, select:focus { background-color: #fff!important; }
textarea, input[type="text"], input[type="password"], input[type="file"] { padding: 6px!important; }
#optionsframework input.checkbox, #optionsframework input.of-radio { width: auto; margin-right: 7px; }
#optionsframework .controls .of-color { padding: 4px 4px 3px 4px!important; }
#optionsframework .controls input.upload { padding: 4px 4px 3px 4px!important; }
#optionsframework .controls select { height: 27px; padding-top: 4px; }
#optionsframework .section { border-bottom: 1px solid #dfdfdf; padding: 25px 20px 20px 22px!important; margin: 0!important; }
#optionsframework .section .heading { font-size: 13px; border: 0!important; padding: 0!important; margin: 0 0 8px 0!important; }
#optionsframework .section .explain { font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 12px!important; color: #888!important; }
#optionsframework .section .explain-text { margin-top: 8px;  }
#optionsframework .section .explain-select { margin-top: 6px;  }
#optionsframework .section .explain-upload,
#optionsframework .section .explain-background { margin-top: 4px;  }
#optionsframework .section .explain-color { margin-top: 4px;  }
.nav-tab-wrapper { max-width: 767px; }
.nav-tab-wrapper a { font-size: 14px!important; font-weight: bold!important; letter-spacing: -0.01em; }
.nav-tab-wrapper .nav-tab { background-color: #f5f5f5; color: #999; padding-right: 9px; }
.nav-tab-wrapper .nav-tab-active { background-color: #fff; color: #D54E21; }
.nav-tab-wrapper .nav-tab-empty { display: none; }
.metabox-holder { padding-top: 0!important; }
.metabox-holder h3 { display: none; }
#optionsframework { border-top: 0!important; -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; border-color: #ccc; }
#optionsframework .group { padding-bottom: 0!important; }
#optionsframework-submit { border-top: 0!important; }
#optionsframework .section .explain-color { max-width: 80%!important; }
#optionsframework .section-skin_create .controls,
#optionsframework .section-skin_delete .controls { width: 100%; }
#optionsframework .section-skin_create .explain { padding-top: 6px; padding-right: 10px; }
#optionsframework .section-skin_create select,
#optionsframework .section-skin_create input,
#optionsframework .section-skin_delete select { float: left!important; }
#optionsframework .section-skin_create input { padding: 4px 6px!important; }
#optionsframework .section-skin_create .button2 { width:64px!important; height: 27px!important; min-width: 0!important; margin-left: 15px; cursor: pointer; }
#optionsframework .section-skin_export .button2 { width:79px!important; height: 27px!important; min-width: 0!important; float: none!important; cursor: pointer; }
#optionsframework .section-skin_delete .button2 { width:59px!important; height: 27px!important; min-width: 0!important; margin-left: 15px; float: left!important; cursor: pointer; }
#current-skin { text-align: right; display: block; width: 780px; margin-bottom: -36px; padding-top: 18px; }
#current-skin strong { color: #D54E21; }
.button2.disabled { background-color: #dbadae; color: #db6d71; border-color: #db6d71; }
.button2.disabled:hover { background-color: #dbadae; color: #db6d71; border-color: #db6d71; cursor: default!important; }
#icon-options-framework { background: url("../../../../../../wp-admin/images/icons32.png") no-repeat scroll -492px -5px transparent; }
input.remove-button { width: 16px!important; padding: 0; margin: 0; border: 0; 	background:url("../images/ico-delete.png") no-repeat; text-indent: -9999px; color: transparent; cursor: pointer; }
.optionsframework-sidebar-manager #optionsframework-submit { display: none; }
.optionsframework-sidebar-manager #optionsframework-submit .button-primary { display: none; }
#optionsframework #section-sidebar_create .controls,
#optionsframework #section-sidebar_list .controls { width: 100%; }
#optionsframework #section-sidebar_create #sidebar_create_text { width: 200px; }
#optionsframework #section-sidebar_create .button2 { width:64px!important; height: 27px!important; min-width: 0!important; margin-left: 15px; cursor: pointer; border-radius: 3px; background-color: #fff; color: #444; border: 1px solid #bbb; }
.section.image-size .controls { min-width: 100px!important; width: 10%!important; }
.section.image-size .explain { width: 82%!important; }
.section-fonts_update_google .controls { width: 16%!important; min-width: 100px!important; }
.section-fonts_update_google .explain { max-width: 80%!important; }
.section-fonts_update_google .button2 { height: 27px!important; min-width: 0!important; cursor: pointer; border-radius: 3px; background-color: #fff; color: #444; border: 1px solid #bbb; }
#skin_full_page_bgimage_image + .of-background-properties { display: none!important; }

#optionsframework .section-cufon_upload .controls { width: 54%; }
#upload_cufon_upload_file { min-width: 0!important; }
#optionsframework .section-cufon_upload .explain { padding-top: 6px; padding-right: 10px; float: left; }
#optionsframework .section-cufon_upload .button2 { width:120px!important; height: 27px!important; min-width: 0!important; margin-left: 0; cursor: pointer; border-radius: 3px; background-color: #fff; color: #444; border: 1px solid #bbb; }
#cufon_upload_file_image { display: none!important; }

/* Toggle */
.toggle-container { overflow: hidden;  }
.toggle-container .toggle { line-height: 34px; padding: 0 5px; position: relative; display: block; text-decoration: none; border-bottom: 1px solid #e0e0e0; background: #fcfcfc; outline: none; }
.toggle-container .toggle.selected span { color: #d54e21; }
.toggle-container .toggle:active,
.toggle-container .toggle:focus { color: #21759B; }
.toggle-container .toggle .toggle-sign { position: absolute; top: 10px; left: 10px; font-size: 14px; line-height: 14px; margin: 0 5px 0 0; padding: 0 2px 0 2px; width: 11px; text-align: center; font-weight: bold; }
.toggle-container .toggle .toggle-title { font-size: 12px; line-height: 34px; margin-left: 25px; }
.toggle-container .toggle span { display: inline-block; }
.toggle-container .toggle-content { padding: 0; }
#optionsframework .toggle-content { padding: 10px 0 ; border-bottom: 1px solid #e0e0e0; }
#optionsframework .toggle-content .section { border-bottom: 0; padding-bottom: 8px!important; padding-top: 8px!important; }

/* Skin manager colors styling */
#slider-h, #slider-s, #slider-l { height: 300px; float: left; margin-right: 23px; margin-bottom: 20px; }
#section-skin_hsl.section.section-hsl { position: absolute; right: 0; top: 0; bottom: 39px; width: 90px; border-left: 1px solid #dfdfdf; padding-top: 138px!important; }
#of-option-colors .section-color { position: relative; width: 627px; padding: 10px 10px 16px!important; }
#of-option-colors .section-color h4 { position: absolute; left: 77px; }
#of-option-colors .section-color .explain-color { position: absolute; left: 168px; top: 40px; }
#of-option-colors .section-color .of-color { position: absolute; left: 73px; top: 39px; }
#of-option-colors .section-color .of-color-checkbox { display: block; width: 30px; position: absolute; right: 23px; top: 30px; }
#of-option-colors .colorSelector { background: none!important; width: 50px; height: 50px; }
#of-option-colors .colorSelector div { background-image: none!important; width: 100%; height: 100%; left: 0; top: 0; border: 3px solid #000; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }