/*-------------------------------------------------------------------------------------------*/
/* OptionsFramework Admin Styles */
/*-------------------------------------------------------------------------------------------*/

.updated {
	max-width:764px;
	margin-bottom:0px !important;
}
#custom-fields-form-wrap p {
	margin-bottom:0;
	padding-bottom:0;
	line-height: 20px;
}
#custom-fields-form-wrap .section {
	padding:10px 10px 0;
}
#custom-fields-form-wrap .group {
	padding-bottom:40px;
}
#custom-fields-form-wrap .section .heading {
	padding:10px 0px;
	margin:0 0 15px;
	border-bottom: 1px solid #dfdfdf;
}
#custom-fields-form-wrap .section .controls {
	float: left;
	min-width:350px;
	width: 34%;
	padding-right:2%;
}
#custom-fields-form-wrap .section .explain {
	max-width:58%;
	float: left;
	font-size: 12px;
	line-height:16px;
	color: #777;
}
#custom-fields-form-wrap .section-checkbox .controls,
#custom-fields-form-wrap .section-info .controls {
	width: 98%;
}
#custom-fields-form-wrap .section-checkbox .explain,
#custom-fields-form-wrap .section-info .explain {
	max-width:94%;
}
#custom-fields-form-wrap .section-color .controls {
	min-width:125px;
	width:125px
}
#custom-fields-form-wrap .controls input, #custom-fields-form-wrap .controls select, #custom-fields-form-wrap .controls textarea {
	margin-bottom:10px;
	width:100%;
}
.version-3-5 #custom-fields-form-wrap .controls select option {
	padding: 2px;
}
#custom-fields-form-wrap .section-radio label, #custom-fields-form-wrap .section-multicheck label {
	float:left;
	max-width:90%;
	line-height: 16px;
	margin-bottom: 5px;
}
#custom-fields-form-wrap input.checkbox, #custom-fields-form-wrap input.of-radio {
	width: 30px;
	float:left;
	clear:both;
}
#custom-fields-form-wrap .controls .of-color {
	float:left;
	width: 80px;
	margin-left:5px;
	margin-right:5px;
}
#custom-fields-form-wrap .of-background-properties {
	clear:both;
	margin-top: 18px;	
}
#custom-fields-form-wrap .controls .of-background-repeat {
	width:125px;
	margin-right:5px;
	float:left
}
#custom-fields-form-wrap .controls .of-background-position {
	width:125px;
	margin-right:5px;
	float:left
}
#custom-fields-form-wrap .controls .of-background-attachment {
	width:125px;
	margin-right:5px;
	float:left
}
#custom-fields-form-wrap .hide {
	display:none;
}
#custom-fields-form-wrap .mini .controls select, #custom-fields-form-wrap .section .mini .controls {
	width: 140px;
}
#custom-fields-form-wrap .medium .controls select, #custom-fields-form-wrap .section .medium .controls {
	width: 240px;
}
#custom-fields-form-wrap .mini .controls input, #custom-fields-form-wrap .mini .controls {
	min-width:140px;
	width: 140px;
}
#custom-fields-form-wrap .mini .explain {
	max-width:74%;
}

#custom-fields-form-wrap .small .controls select, #custom-fields-form-wrap .section .small .controls {
	width: 240px;
}
#custom-fields-form-wrap .small .controls input, #custom-fields-form-wrap .small .controls {
	min-width:240px;
	width: 240px;
}
#custom-fields-form-wrap .small .explain {
	max-width:74%;
}
/* Image Uploader */

#custom-fields-form-wrap .controls input.upload {
	width:80%;
}
#custom-fields-form-wrap .controls input.upload_button {
	float:right;
	width:45px;
	border-color:#BBBBBB;
	cursor:pointer;
	height:16px;
}
.version-3-5 #custom-fields-form-wrap .controls input.upload_button {
	width:60px;
	height:25px;
	margin-top:1px;
}
#custom-fields-form-wrap .controls input.upload_button:hover {
	border-color:#666666;
	color:#000;
}
#custom-fields-form-wrap .screenshot {
	float:left;
	margin-left:1px;
	position:relative;
	width:344px;
	margin-top:3px;
}
#custom-fields-form-wrap .screenshot img {
	background:#FAFAFA;
	border-color:#ccc #eee #eee #ccc;
	border-style:solid;
	border-width:1px;
	float:left;
	max-width:334px;
	padding:4px;
	margin-bottom:10px;
}
#custom-fields-form-wrap .screenshot .mlu_remove {
	background:url("../images/ico-delete.png") no-repeat;
	border:medium none;
	bottom:4px;
	display:block;
	float:left;
	height:16px;
	padding:0;
	position:absolute;
	left:-4px;
	text-indent:-9999px;
	width:16px;
}
#custom-fields-form-wrap .screenshot .no_image .file_link {
	margin-left: 20px;
}
#custom-fields-form-wrap .screenshot .no_image .mlu_remove {
	bottom: 0px;
}
#custom-fields-form-wrap .reset-button {
	float:left;
	cursor:pointer;
}

/* unisphere Custom overrides */
#custom-fields-form-wrap textarea, 
#custom-fields-form-wrap input[type="text"], 
#custom-fields-form-wrap input[type="password"],
#custom-fields-form-wrap input[type="file"],
#custom-fields-form-wrap select { background-color: #f9f9f9!important; color: #666; border: 3px solid #e0e0e0!important; }

#custom-fields-form-wrap textarea:focus,
#custom-fields-form-wrap input[type="text"]:focus,
#custom-fields-form-wrap input[type="password"]:focus,
#custom-fields-form-wrap select:focus { background-color: #fff!important; }

#custom-fields-form-wrap textarea,
#custom-fields-form-wrap input[type="text"],
#custom-fields-form-wrap input[type="password"],
#custom-fields-form-wrap input[type="file"] { padding: 6px!important; }

#custom-fields-form-wrap input.checkbox, #custom-fields-form-wrap input.of-radio { width: auto; margin-right: 7px; }
#custom-fields-form-wrap .controls .of-color { padding: 4px 4px 3px 4px!important; }
#custom-fields-form-wrap .controls input.upload { padding: 4px 4px 3px 4px!important; }
#custom-fields-form-wrap .controls select { height: 27px; padding-top: 4px; }
#custom-fields-form-wrap .section { border-top: 1px solid #dfdfdf; padding: 15px!important; margin: 0!important; background-color: #fff; }
#custom-fields-form-wrap .section:first-child { border-top: 0; }
#custom-fields-form-wrap .section .heading { font-size: 13px; border: 0!important; padding: 0!important; margin: 0 0 8px 0!important; }
#custom-fields-form-wrap .section .explain { font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 12px!important; color: #888!important; }
#custom-fields-form-wrap .section .explain-text { margin-top: 8px;  }
#custom-fields-form-wrap .section .explain-select { margin-top: 6px;  }
#custom-fields-form-wrap .section .explain-upload,
#custom-fields-form-wrap .section .explain-background { margin-top: 4px;  }
#custom-fields-form-wrap .section .explain-color { margin-top: 4px;  }

#custom-fields-form-wrap { border-top: 0!important; -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; border-color: #ccc; }
#custom-fields-form-wrap .group { padding-bottom: 0!important; }
#custom-fields-form-wrap .section .explain-color { max-width: 80%!important; }

.column-portfolio_thumbnail, .column-slider_thumbnail { width: 52px; text-align: center!important; }

/* Toggle */
.toggle-container { overflow: hidden;  }
.toggle-container .toggle { line-height: 34px; padding: 3px 5px 0 5px; position: relative; display: block; text-decoration: none; border-bottom: 1px solid #e0e0e0; outline: none; }
.toggle-container .toggle.selected span { color: #d54e21; }
.toggle-container .toggle:active,
.toggle-container .toggle:focus { color: #21759B; }
.toggle-container .toggle .toggle-sign { position: absolute; top: 13px; left: 10px; font-size: 14px; line-height: 14px; margin: 0 5px 0 0; padding: 0 2px 0 2px; width: 11px; text-align: center; font-weight: bold; }
.toggle-container .toggle .toggle-title { font-size: 12px; line-height: 34px; margin-left: 25px; }
.toggle-container .toggle span { display: inline-block; }
.toggle-container .toggle-content { padding: 0; }
#custom-fields-form-wrap .toggle-content { padding: 0; border-bottom: 1px solid #e0e0e0; }

.toggle-container ul { margin: 0; }
.toggle-container ul li { overflow: hidden; padding: 2px 0 0 2px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; } 
.sort-children li:hover { background-color: #d54e21; color: #fff; cursor: move!important; }
.sort-children label { cursor: move!important; }
.section-portfolio_cat .checkbox,
.section-blog_cat .checkbox,
.section-slider_cat .checkbox { margin-bottom: 0!important; }
.section-sidebar select { width: auto!important; }